<div class="ind_topbg">
  <div class="ind_topmain">
    <div class="ind_slogan2_fix" id="_jslogintips">
      <div class="ind_slogan2">
        <p class="btns">
          <a href="javascript:;" class="weibo _jsweibologin" data-bn-ipg="top-rl-weibo">微博登录</a><a href="javascript:;" class="qq _jsqqlogin" data-bn-ipg="top-rl-qq">QQ登录</a><a href="http://login.qyer.com/register.php" class="regist" data-bn-ipg="top-rl-mail">邮件注册</a>
        </p>
      </div>
    </div>
    <p class="ind_slogan" id="_jsloginedtips" style="display:none">专注出境旅行 - 大家帮助大家, 共同探索美好世界</p>

    <div id="ind_focus" class="ind_focus">
      <div class="slides_container">
        <div class="slides_control">
          <% @focus.each do |f| %>
              <div class="slide" >
                <img src="<%= img_style f.img_path,'original' %>" alt="<%= f.name %>"/>
              </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="ind_toprbox">
      <ul class="ind_navlist">
        <li class="place">
          <a href="http://place.qyer.com" data-bn-ipg="leftnav-place"><span class="title fontYaHei">目的地</span><span class="text">40000个目的地</span></a>
        </li>
        <li class="bbs">
          <a href="http://bbs.qyer.com" data-bn-ipg="leftnav-bbs"><span class="title fontYaHei">论坛</span>
            <span class="text">6615167篇帖子</span></a>
        </li>
        <li class="ask">
          <a href="http://ask.qyer.com" data-bn-ipg="leftnav-ask"><span class="title fontYaHei">问答</span><span class="text">248404个旅行问题</span></a>
        </li>
        <li class="plan">
          <a href="http://plan.qyer.com" data-bn-ipg="leftnav-plan"><span class="title fontYaHei">行程助手</span><span class="text">旅行计划工具</span></a>
        </li>
      </ul>
      <div class="ind_app clearfix" id="_jsiconrand">

      </div>
    </div>
    <div class="cb"></div>
  </div>
</div>
