<div id="content-header">
  <h1>管理首页</h1>
  <form class="form-search float_right" style="margin-top: -25px;margin-right: 10px">
    <div class="input-append">
      <input type="text" class="span3 search-query">
      <button type="submit" class="btn">Search</button>
    </div>
  </form>
</div>


<div id="breadcrumb">
  <a href="#"><i class="icon-search"></i> 快速筛选</a>
  <a href="#">Dashboard</a>
  <a href="#" class="current">Dashboard</a>
</div>


<div class="container-fluid padding_top10">



  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th class="td_id_select">选择</th>
      <th>名称</th>
      <th>标题</th>
      <th>发布日期</th>
      <th class="td_id_select">审核</th>
      <th>选择</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="td_id_select">
      <input type="checkbox" name="">
      </td>
      <td>Row 1</td>
      <td>Row 1</td>
      <td>Row 2</td>
      <td class="td_id_select"> <input type="checkbox" name=""></td>
      <td>Row 4</td>

    </tr>
    </tbody>
  </table>

  <div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix">
    <div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers" id="DataTables_Table_0_paginate"><a tabindex="0" class="first ui-corner-tl ui-corner-bl fg-button ui-button ui-state-default ui-state-disabled" id="DataTables_Table_0_first">First</a><a tabindex="0" class="previous fg-button ui-button ui-state-default ui-state-disabled" id="DataTables_Table_0_previous">Previous</a><span><a tabindex="0" class="fg-button ui-button ui-state-default ui-state-disabled">1</a><a tabindex="0" class="fg-button ui-button ui-state-default">2</a><a tabindex="0" class="fg-button ui-button ui-state-default">3</a><a tabindex="0" class="fg-button ui-button ui-state-default">4</a><a tabindex="0" class="fg-button ui-button ui-state-default">5</a></span><a tabindex="0" class="next fg-button ui-button ui-state-default" id="DataTables_Table_0_next">Next</a><a tabindex="0" class="last ui-corner-tr ui-corner-br fg-button ui-button ui-state-default" id="DataTables_Table_0_last">Last</a></div></div>
</div>
