<div class="lay_side">

  <div class="bbs_seeksolve">
    <div class="pr">
      <h3 class="bbs_sidetit fontYaHei">求解答</h3>

      <p class="titmore"><a href="http://ask.qyer.com/forumlist/54/unanswered/" title="更多加拿大待回答问题" target="_blank" data-bn-ipg="board-ask-more">更多</a></p>
    </div>
    <ul class="list">
      <li class="first">
        <p class="pic"><a href="http://user.qyer.com/user_uid_1649476" title="预言家" data-bn-ipg="board-ask-user-1"><img src="http://static.qyer.com/data/avatar/001/64/94/76_avatar_big.jpg" width="30" height="30" alt="预言家"></a></p>

        <h3 class="name"><a href="http://ask.qyer.com/question/469178.html" title="求加拿大旅游签证,代理人表样本，TMM5476E.PDF" target="_blank" data-bn-ipg="board-ask-q-1">求加拿大旅游签证,代理人表样本，TMM5476E.PDF</a></h3>

        <p class="text">求加拿大旅游签证,代理人表样本，TMM5476E.PDF</p>

        <p class="btm"><a class="ui_btn_smallB fr" href="http://ask.qyer.com/question/469178.html" target="_blank" data-bn-ipg="board-ask-a-1">回答</a><span class="time">2013-05-11</span></p>
      </li>
      <li>
        <p class="pic"><a href="http://user.qyer.com/user_uid_63220" title="橙子飞" data-bn-ipg="board-ask-user-2"><img src="http://static.qyer.com/data/avatar/000/06/32/20_avatar_big.jpg" width="30" height="30" alt="橙子飞"></a></p>

        <h3 class="name"><a href="http://ask.qyer.com/question/484965.html" title="关于安东尼岛" target="_blank" data-bn-ipg="board-ask-q-2">关于安东尼岛</a></h3>

        <p class="text">我九月份要去加西旅游，想问一下有没有去过安东尼岛的XDJM，想了解一下如何过去？谢谢</p>

        <p class="btm"><a class="ui_btn_smallB fr" href="http://ask.qyer.com/question/484965.html" target="_blank" data-bn-ipg="board-ask-a-2">回答</a><span class="time">2013-06-21</span></p>
      </li>
      <li>
        <p class="pic">
          <a href="http://user.qyer.com/user_uid_2210783" title="summerwind2000" data-bn-ipg="board-ask-user-3"><img src="http://static.qyer.com/data/images/noavatar_big.gif" width="30" height="30" alt="summerwind2000"></a></p>

        <h3 class="name"><a href="http://ask.qyer.com/question/489002.html" title="现在广州英签（旅游签）的速度怎样？？？？大概几天？有签过的朋友吗？" target="_blank" data-bn-ipg="board-ask-q-3">现在广州英签（旅游签）的速度怎样？？？？大概几天？有签过的朋友吗？</a></h3>

        <p class="text"></p>

        <p class="btm"><a class="ui_btn_smallB fr" href="http://ask.qyer.com/question/489002.html" target="_blank" data-bn-ipg="board-ask-a-3">回答</a><span class="time">2013-07-02</span></p>
      </li>
      <li>
        <p class="pic"><a href="http://user.qyer.com/user_uid_864402" title="bolide" data-bn-ipg="board-ask-user-4"><img src="http://static.qyer.com/data/avatar/000/86/44/02_avatar_big.jpg" width="30" height="30" alt="bolide"></a>
        </p>

        <h3 class="name"><a href="http://ask.qyer.com/question/476023.html" title="明天打算去斯坦福大学转转，不知道有什么好玩好看的，谁介绍下？谢谢" target="_blank" data-bn-ipg="board-ask-q-4">明天打算去斯坦福大学转转，不知道有什么好玩好看的，谁介绍下？谢谢</a></h3>

        <p class="text">纯粹就是休闲游，打算上午从SanJose出发做Caltrain去，到处看看，下午就回，如果有在斯坦福念书的朋友介绍下就更好啦</p>

        <p class="btm"><a class="ui_btn_smallB fr" href="http://ask.qyer.com/question/476023.html" target="_blank" data-bn-ipg="board-ask-a-4">回答</a><span class="time">2013-05-31</span></p>
      </li>
      <li>
        <p class="pic"><a href="http://user.qyer.com/user_uid_1574344" title="牛钉" data-bn-ipg="board-ask-user-5"><img src="http://static.qyer.com/data/avatar/001/57/43/44_avatar_big.jpg" width="30" height="30" alt="牛钉"></a></p>

        <h3 class="name"><a href="http://ask.qyer.com/question/488276.html" title="华特顿湖国家公园到卡尔加里机场" target="_blank" data-bn-ipg="board-ask-q-5">华特顿湖国家公园到卡尔加里机场</a></h3>

        <p class="text">如题：请问路程有多远啊？开车要预多少时间？谢谢啊！</p>

        <p class="btm"><a class="ui_btn_smallB fr" href="http://ask.qyer.com/question/488276.html" target="_blank" data-bn-ipg="board-ask-a-5">回答</a><span class="time">2013-06-30</span></p>
      </li>
    </ul>
  </div>

  <div class="bbs_sldline1"></div>
  <div class="bbs_lianhot">
    <h3 class="bbs_sidetit fontYaHei">本季热帖</h3>
    <ol class="bbs_tiehotlist">
      <li class="item1"><p><a href="http://bbs.qyer.com/thread-767833-1.html" data-bn-ipg="board-hotseason-1" title="加国网签成功拿到N年N次全过程">加国网签成功拿到N年N次全过程</a></p></li>
      <li class="item2"><p><a href="http://bbs.qyer.com/thread-800278-1.html" data-bn-ipg="board-hotseason-2" title="我在加拿大Jasper National Park工作，有要来的朋友可以随便问问题哈！">我在加拿大Jasper National Park工作，有要来的朋友可以随便问问题...</a></p></li>
      <li class="item3"><p><a href="http://bbs.qyer.com/thread-798554-1.html" data-bn-ipg="board-hotseason-3" title="玩在温哥华(以当地人的角度，而非走马观花)">玩在温哥华(以当地人的角度，而非走马观花)</a></p></li>
      <li class="item4"><p><a href="http://bbs.qyer.com/thread-793337-1.html" data-bn-ipg="board-hotseason-4" title="2013年4月加拿大20日自由行，温哥华，班夫，渥太华，多伦多">2013年4月加拿大20日自由行，温哥华，班夫，渥太华，多伦多</a></p></li>
      <li class="item5"><p><a href="http://bbs.qyer.com/thread-802036-1.html" data-bn-ipg="board-hotseason-5" title="加拿大个人旅游签证，多次往返图文详细攻略。白本2013.5.16递签，05.23签证到手。">加拿大个人旅游签证，多次往返图文详细攻略。白本2013.5.16递签，0...</a></p></li>
    </ol>
  </div>



</div>