<% @title='论坛' %>

<div class="qyer_head_crumbg">
  <div class="qyer_head_crumb">
    <span class="text"><a href="http://www.qyer.com/" data-bn-ipg="3-1">首页</a></span>
    <span class="space">&gt;</span>
    <h1 class="current">论坛</h1>
  </div>
</div>

<div class="bbs_indtop fontYaHei">
  <p class="title">穷游论坛</p>
  <p class="slogen">大家帮助大家,分享精彩游记</p>
  <p class="slogen2"><em>6,793,238</em> 篇分享等你探索</p>
</div>


<div class="bbs_sldline2"></div>

<div class="lay_wrap">
<div class="lay_main">

<div class="bbs_maintit">
  <h2 class="title fontYaHei">论坛版块</h2>
  <p class="info">53 个版面 &nbsp;&nbsp;今日更新 1639 篇贴子</p>
  <div class="bbs_tabsearch">
    <input type="text" id="bbs_tabsearch_ipt" class="inputxt" autocomplete="off" placeholder="搜索帖子或问答" value=""><input type="text" style="display:none;">
    <div style="display:none;" id="bbs_tabsearch_lay" class="bbs_tabsearch_lay">
      <!--ul class="list">
      <li><a href="#">法国 / 摩纳哥</a></li>
      <li><a href="#">欧洲多国</a></li>
      <li><a href="#">欧洲交通</a></li>
      <li class="sou"><a href="#">搜“<em>法国</em>”相关帖子欧洲交通</a></li>
      </ul-->
    </div>
  </div>
</div>
<ul class="bbs_subnav fontYaHei">
  <li><a href="javascript:void(0);" data-gid="78" data-bn-ipg="bbs-forum-1">公共版块</a></li>
  <li><a href="javascript:void(0);" data-gid="65" data-bn-ipg="bbs-forum-2">欧洲</a></li>
  <li><a href="javascript:void(0);" data-gid="71" data-bn-ipg="bbs-forum-3">亚洲</a></li>
  <li><a href="javascript:void(0);" data-gid="72" data-bn-ipg="bbs-forum-4">美洲和南极</a></li>
  <li><a href="javascript:void(0);" data-gid="70" data-bn-ipg="bbs-forum-5">大洋洲</a></li>
  <li><a href="javascript:void(0);" data-gid="69" data-bn-ipg="bbs-forum-6">非洲</a></li>
  <li><a href="javascript:void(0);" data-gid="67" data-bn-ipg="bbs-forum-7">兴趣小组</a></li>
  <li><a href="javascript:void(0);" data-gid="66" data-bn-ipg="bbs-forum-8">后院</a></li>
</ul>


<dl class="bbs_indlist clearfix">
  <dt class="fontYaHei" id="category78">公共版块</dt>

  <dd id="forum3">
    <p class="pic"><a href="forum-3-1.html" data-bn-ipg="fid-3-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/qz.jpg" align="left" alt="签证" title="签证" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-3-1.html" data-bn-ipg="fid-3-2"><span>签证</span></a></h3>

      <p class="text">出境旅行的第一步</p>
      <p class="nums">49280个主题</p>
    </div>
  </dd>
  <dd id="forum62">
    <p class="pic"><a href="forum-62-1.html" data-bn-ipg="fid-62-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/ljhk.jpg" align="left" alt="廉价航空" title="廉价航空" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-62-1.html" data-bn-ipg="fid-62-2"><span>廉价航空</span></a></h3>

      <p class="text">追求高性价比的机票和航程</p>
      <p class="nums">31274个主题</p>
    </div>
  </dd>
  <dd id="forum100">
    <p class="pic"><a href="forum-100-1.html" data-bn-ipg="fid-100-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/jwyl.jpg" align="left" alt="境外银联" title="境外银联" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-100-1.html" data-bn-ipg="fid-100-2"><span>境外银联</span></a></h3>

      <p class="text">喜刷刷喜刷刷</p>
      <p class="nums">845个主题</p>
    </div>
  </dd>
</dl>
<div class="bbs_sldline2"></div>

<dl class="bbs_indlist clearfix">
  <dt class="fontYaHei" id="category65">穷游欧洲</dt>

  <dd id="forum112">
    <p class="pic"><a href="forum-112-1.html" data-bn-ipg="fid-112-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/ozdg.jpg" align="left" alt="欧洲多国" title="欧洲多国" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-112-1.html" data-bn-ipg="fid-112-2"><span>欧洲多国</span></a></h3>

      <p class="text">欧洲跨国长途旅行</p>
      <p class="nums">6813个主题</p>
    </div>
  </dd>
  <dd id="forum109">
    <p class="pic"><a href="forum-109-1.html" data-bn-ipg="fid-109-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/ozjt.jpg" align="left" alt="欧洲交通" title="欧洲交通" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-109-1.html" data-bn-ipg="fid-109-2"><span>欧洲交通</span></a></h3>

      <p class="text">在欧洲，便利的出行方式选择多多</p>
      <p class="nums">3188个主题</p>
    </div>
  </dd>
  <dd id="forum14">
    <p class="pic"><a href="forum-14-1.html" data-bn-ipg="fid-14-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/fg.jpg" align="left" alt="法国/摩纳哥" title="法国/摩纳哥" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-14-1.html" data-bn-ipg="fid-14-2"><span>法国</span> / <span>摩纳哥</span></a></h3>

      <p class="text">浪漫就在身边</p>
      <p class="nums">30428个主题</p>
    </div>
  </dd>
  <dd id="forum12">
    <p class="pic"><a href="forum-12-1.html" data-bn-ipg="fid-12-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/dg.jpg" align="left" alt="德国" title="德国" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-12-1.html" data-bn-ipg="fid-12-2"><span>德国</span></a></h3>

      <p class="text">穷游诞生地！</p>
      <p class="nums">27280个主题</p>
    </div>
  </dd>
  <dd id="forum13">
    <p class="pic"><a href="forum-13-1.html" data-bn-ipg="fid-13-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/ydl.jpg" align="left" alt="意大利/梵蒂冈/圣马力诺" title="意大利/梵蒂冈/圣马力诺" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-13-1.html" data-bn-ipg="fid-13-2"><span>意大利</span> / <span>梵蒂冈</span> / <span>圣马力诺</span></a></h3>

      <p class="text">爱速度还是爱披萨？</p>
      <p class="nums">29360个主题</p>
    </div>
  </dd>
  <dd id="forum17">
    <p class="pic"><a href="forum-17-1.html" data-bn-ipg="fid-17-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/hlbls.jpg" align="left" alt="荷兰/比利时/卢森堡" title="荷兰/比利时/卢森堡" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-17-1.html" data-bn-ipg="fid-17-2"><span>荷兰</span> / <span>比利时</span> / <span>卢森堡</span></a></h3>

      <p class="text">郁金香、奶酪还有丁丁历险记</p>
      <p class="nums">11439个主题</p>
    </div>
  </dd>
  <dd id="forum18">
    <p class="pic"><a href="forum-18-1.html" data-bn-ipg="fid-18-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/xby.jpg" align="left" alt="西班牙/葡萄牙/安道尔" title="西班牙/葡萄牙/安道尔" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-18-1.html" data-bn-ipg="fid-18-2"><span>西班牙</span> / <span>葡萄牙</span> / <span>安道尔</span></a></h3>

      <p class="text">大航海、弗拉门戈和白色小镇</p>
      <p class="nums">14907个主题</p>
    </div>
  </dd>
  <dd id="forum19">
    <p class="pic"><a href="forum-19-1.html" data-bn-ipg="fid-19-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/adl.jpg" align="left" alt="奥地利" title="奥地利" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-19-1.html" data-bn-ipg="fid-19-2"><span>奥地利</span></a></h3>

      <p class="text">喜欢莫扎特还是更爱维也纳猪排？</p>
      <p class="nums">7820个主题</p>
    </div>
  </dd>
  <dd id="forum16">
    <p class="pic"><a href="forum-16-1.html" data-bn-ipg="fid-16-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/ygael.jpg" align="left" alt="英国/爱尔兰" title="英国/爱尔兰" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-16-1.html" data-bn-ipg="fid-16-2"><span>英国</span> / <span>爱尔兰</span></a></h3>

      <p class="text">Fish&amp;Chips or U2</p>
      <p class="nums">13757个主题</p>
    </div>
  </dd>
  <dd id="forum15">
    <p class="pic"><a href="forum-15-1.html" data-bn-ipg="fid-15-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/rs.jpg" align="left" alt="瑞士/列支敦士登" title="瑞士/列支敦士登" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-15-1.html" data-bn-ipg="fid-15-2"><span>瑞士</span> / <span>列支敦士登</span></a></h3>

      <p class="text">上帝的后花园</p>
      <p class="nums">15464个主题</p>
    </div>
  </dd>
  <dd id="forum26">
    <p class="pic"><a href="forum-26-1.html" data-bn-ipg="fid-26-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/xlteq.jpg" align="left" alt="希腊/土耳其/塞浦路斯/马耳他" title="希腊/土耳其/塞浦路斯/马耳他" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-26-1.html" data-bn-ipg="fid-26-2"><span>希腊</span> / <span>土耳其</span> / <span>塞浦路斯</span> / <span>马耳他</span></a></h3>

      <p class="text">西方文明的起源</p>
      <p class="nums">13635个主题</p>
    </div>
  </dd>
  <dd id="forum25">
    <p class="pic"><a href="forum-25-1.html" data-bn-ipg="fid-25-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/lwrd.jpg" align="left" alt="挪威/瑞典/芬兰/丹麦/冰岛" title="挪威/瑞典/芬兰/丹麦/冰岛" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-25-1.html" data-bn-ipg="fid-25-2"><span>挪威</span> / <span>瑞典</span> / <span>芬兰</span> / <span>丹麦</span> / <span>冰岛</span></a></h3>

      <p class="text">圣诞老人、海盗传说、童话故事当然还有极光</p>
      <p class="nums">12613个主题</p>
    </div>
  </dd>
  <dd id="forum24">
    <p class="pic"><a href="forum-24-1.html" data-bn-ipg="fid-24-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/dogg.jpg" align="left" alt="东欧各国" title="东欧各国" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-24-1.html" data-bn-ipg="fid-24-2"><span>东欧各国</span></a></h3>

      <p class="text">那些做体操的国家</p>
      <p class="nums">9786个主题</p>
    </div>
  </dd>
</dl>
<div class="bbs_sldline2"></div>

<dl class="bbs_indlist clearfix">
  <dt class="fontYaHei" id="category71">穷游亚洲</dt>

  <dd id="forum58">
    <p class="pic"><a href="forum-58-1.html" data-bn-ipg="fid-58-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/yzdg.jpg" align="left" alt="亚洲多国" title="亚洲多国" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-58-1.html" data-bn-ipg="fid-58-2"><span>亚洲多国</span></a></h3>

      <p class="text">亚洲跨国长途旅行</p>
      <p class="nums">18041个主题</p>
    </div>
  </dd>
  <dd id="forum57">
    <p class="pic"><a href="forum-57-1.html" data-bn-ipg="fid-57-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/rb.jpg" align="left" alt="日本/韩国/朝鲜" title="日本/韩国/朝鲜" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-57-1.html" data-bn-ipg="fid-57-2"><span>日本</span> / <span>韩国</span> / <span>朝鲜</span></a></h3>

      <p class="text">樱花、泡菜和领袖</p>
      <p class="nums">9426个主题</p>
    </div>
  </dd>
  <dd id="forum106">
    <p class="pic"><a href="forum-106-1.html" data-bn-ipg="fid-106-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/tg.jpg" align="left" alt="泰国" title="泰国" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-106-1.html" data-bn-ipg="fid-106-2"><span>泰国</span></a></h3>

      <p class="text">冬荫功汤、四面佛和国王</p>
      <p class="nums">21227个主题</p>
    </div>
  </dd>
  <dd id="forum108">
    <p class="pic"><a href="forum-108-1.html" data-bn-ipg="fid-108-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/xjp.jpg" align="left" alt="新加坡/马来西亚/文莱" title="新加坡/马来西亚/文莱" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-108-1.html" data-bn-ipg="fid-108-2"><span>新加坡</span> / <span>马来西亚</span> / <span>文莱</span></a></h3>

      <p class="text">狮身鱼尾、肉骨茶和双子塔</p>
      <p class="nums">18677个主题</p>
    </div>
  </dd>
  <dd id="forum107">
    <p class="pic"><a href="forum-107-1.html" data-bn-ipg="fid-107-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/yljpz.jpg" align="left" alt="越南/柬埔寨/老挝/缅甸" title="越南/柬埔寨/老挝/缅甸" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-107-1.html" data-bn-ipg="fid-107-2"><span>越南</span> / <span>柬埔寨</span> / <span>老挝</span> / <span>缅甸</span></a></h3>

      <p class="text">它们都在中南半岛</p>
      <p class="nums">9421个主题</p>
    </div>
  </dd>
  <dd id="forum110">
    <p class="pic"><a href="forum-110-1.html" data-bn-ipg="fid-110-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/flb.jpg" align="left" alt="菲律宾/关岛/塞班/天宁" title="菲律宾/关岛/塞班/天宁" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-110-1.html" data-bn-ipg="fid-110-2"><span>菲律宾</span> / <span>关岛</span> / <span>塞班</span> / <span>天宁</span></a></h3>

      <p class="text">海岛海岛好多海岛</p>
      <p class="nums">6300个主题</p>
    </div>
  </dd>
  <dd id="forum111">
    <p class="pic"><a href="forum-111-1.html" data-bn-ipg="fid-111-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/ydnxy.jpg" align="left" alt="印度尼西亚/东帝汶" title="印度尼西亚/东帝汶" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-111-1.html" data-bn-ipg="fid-111-2"><span>印度尼西亚</span> / <span>东帝汶</span></a></h3>

      <p class="text">此巴厘不是彼巴黎</p>
      <p class="nums">3982个主题</p>
    </div>
  </dd>
  <dd id="forum103">
    <p class="pic"><a href="forum-103-1.html" data-bn-ipg="fid-103-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/yd.jpg" align="left" alt="印度/巴基斯坦/孟加拉" title="印度/巴基斯坦/孟加拉" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-103-1.html" data-bn-ipg="fid-103-2"><span>印度</span> / <span>巴基斯坦</span> / <span>孟加拉</span></a></h3>

      <p class="text">神牛、神油、神庙</p>
      <p class="nums">2753个主题</p>
    </div>
  </dd>
  <dd id="forum102">
    <p class="pic"><a href="forum-102-1.html" data-bn-ipg="fid-102-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/nbe.jpg" align="left" alt="尼泊尔/不丹" title="尼泊尔/不丹" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-102-1.html" data-bn-ipg="fid-102-2"><span>尼泊尔</span> / <span>不丹</span></a></h3>

      <p class="text">让喜马拉雅山去改变你</p>
      <p class="nums">2318个主题</p>
    </div>
  </dd>
  <dd id="forum104">
    <p class="pic"><a href="forum-104-1.html" data-bn-ipg="fid-104-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/sllk.jpg" align="left" alt="斯里兰卡/马尔代夫" title="斯里兰卡/马尔代夫" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-104-1.html" data-bn-ipg="fid-104-2"><span>斯里兰卡</span> / <span>马尔代夫</span></a></h3>

      <p class="text">椰林树影 水清沙幼 蓝天白云</p>
      <p class="nums">2174个主题</p>
    </div>
  </dd>
  <dd id="forum52">
    <p class="pic"><a href="forum-52-1.html" data-bn-ipg="fid-52-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/xgam.jpg" align="left" alt="香港/澳门/台湾" title="香港/澳门/台湾" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-52-1.html" data-bn-ipg="fid-52-2"><span>香港</span> / <span>澳门</span> / <span>台湾</span></a></h3>

      <p class="text">明珠、明珠还是明珠</p>
      <p class="nums">10529个主题</p>
    </div>
  </dd>
  <dd id="forum105">
    <p class="pic"><a href="forum-105-1.html" data-bn-ipg="fid-105-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/zy.jpg" align="left" alt="中亚各国/蒙古" title="中亚各国/蒙古" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-105-1.html" data-bn-ipg="fid-105-2"><span>中亚各国</span> / <span>蒙古</span></a></h3>

      <p class="text">各种斯坦和草原</p>
      <p class="nums">194个主题</p>
    </div>
  </dd>
  <dd id="forum51">
    <p class="pic"><a href="forum-51-1.html" data-bn-ipg="fid-51-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/zgnd.jpg" align="left" alt="中国内地" title="中国内地" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-51-1.html" data-bn-ipg="fid-51-2"><span>中国内地</span></a></h3>

      <p class="text">你懂的！</p>
      <p class="nums">13367个主题</p>
    </div>
  </dd>
  <dd id="forum59">
    <p class="pic"><a href="forum-59-1.html" data-bn-ipg="fid-59-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/xy.jpg" align="left" alt="西亚各国" title="西亚各国" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-59-1.html" data-bn-ipg="fid-59-2"><span>西亚各国</span></a></h3>

      <p class="text">伊朗 叙利亚 以色列 阿联酋 约旦 等国家</p>
      <p class="nums">2638个主题</p>
    </div>
  </dd>
</dl>
<div class="bbs_sldline2"></div>

<dl class="bbs_indlist clearfix">
  <dt class="fontYaHei" id="category72">穷游美洲</dt>

  <dd id="forum53">
    <p class="pic"><a href="forum-53-1.html" data-bn-ipg="fid-53-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/mg.jpg" align="left" alt="美国" title="美国" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-53-1.html" data-bn-ipg="fid-53-2"><span>美国</span></a></h3>

      <p class="text">多元、都市和自然</p>
      <p class="nums">26983个主题</p>
    </div>
  </dd>
  <dd id="forum54">
    <p class="pic"><a href="forum-54-1.html" data-bn-ipg="fid-54-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/jnd.jpg" align="left" alt="加拿大" title="加拿大" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-54-1.html" data-bn-ipg="fid-54-2"><span>加拿大</span></a></h3>

      <p class="text">枫叶、落基山与冰地</p>
      <p class="nums">3116个主题</p>
    </div>
  </dd>
  <dd id="forum55">
    <p class="pic"><a href="forum-55-1.html" data-bn-ipg="fid-55-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/ldmz.jpg" align="left" alt="拉丁美洲/南极" title="拉丁美洲/南极" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-55-1.html" data-bn-ipg="fid-55-2"><span>拉丁美洲</span> / <span>南极</span></a></h3>

      <p class="text">足球、桑巴、狂欢节和世界尽头</p>
      <p class="nums">3137个主题</p>
    </div>
  </dd>
</dl>
<div class="bbs_sldline2"></div>

<dl class="bbs_indlist clearfix">
  <dt class="fontYaHei" id="category70">穷游大洋洲</dt>

  <dd id="forum56">
    <p class="pic"><a href="forum-56-1.html" data-bn-ipg="fid-56-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/adly.jpg" align="left" alt="澳大利亚" title="澳大利亚" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-56-1.html" data-bn-ipg="fid-56-2"><span>澳大利亚</span></a></h3>

      <p class="text">袋鼠、考拉和大石头</p>
      <p class="nums">15084个主题</p>
    </div>
  </dd>
  <dd id="forum83">
    <p class="pic"><a href="forum-83-1.html" data-bn-ipg="fid-83-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/xxl.jpg" align="left" alt="新西兰/南太平洋岛国" title="新西兰/南太平洋岛国" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-83-1.html" data-bn-ipg="fid-83-2"><span>新西兰</span> / <span>南太平洋岛国</span></a></h3>

      <p class="text">魔戒在净土</p>
      <p class="nums">8864个主题</p>
    </div>
  </dd>
</dl>
<div class="bbs_sldline2"></div>

<dl class="bbs_indlist clearfix">
  <dt class="fontYaHei" id="category69">穷游非洲</dt>

  <dd id="forum86">
    <p class="pic"><a href="forum-86-1.html" data-bn-ipg="fid-86-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/bf.jpg" align="left" alt="北非" title="北非" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-86-1.html" data-bn-ipg="fid-86-2"><span>北非</span></a></h3>

      <p class="text">沙漠、神秘和古文明</p>
      <p class="nums">3412个主题</p>
    </div>
  </dd>
  <dd id="forum60">
    <p class="pic"><a href="forum-60-1.html" data-bn-ipg="fid-60-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/fzqt.jpg" align="left" alt="非洲其他国家" title="非洲其他国家" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-60-1.html" data-bn-ipg="fid-60-2"><span>非洲其他国家</span></a></h3>

      <p class="text">动物世界、大裂谷和部族</p>
      <p class="nums">2854个主题</p>
    </div>
  </dd>
</dl>
<div class="bbs_sldline2"></div>

<dl class="bbs_indlist clearfix">
  <dt class="fontYaHei" id="category67">兴趣小组</dt>

  <dd id="forum94">
    <p class="pic"><a href="forum-94-1.html" data-bn-ipg="fid-94-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/yl.jpg" align="left" alt="邮轮" title="邮轮" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-94-1.html" data-bn-ipg="fid-94-2"><span>邮轮</span></a></h3>

      <p class="text">慢游的享受</p>
      <p class="nums">1438个主题</p>
    </div>
  </dd>
  <dd id="forum2">
    <p class="pic"><a href="forum-2-1.html" data-bn-ipg="fid-2-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/ywty.jpg" align="left" alt="结伴同游" title="结伴同游" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-2-1.html" data-bn-ipg="fid-2-2"><span>结伴同游</span></a></h3>

      <p class="text">一起穷游到老!</p>
      <p class="nums">25916个主题</p>
    </div>
  </dd>
  <dd id="forum99">
    <p class="pic"><a href="forum-99-1.html" data-bn-ipg="fid-99-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/qyhd.jpg" align="left" alt="穷游活动" title="穷游活动" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-99-1.html" data-bn-ipg="fid-99-2"><span>穷游活动</span></a></h3>

      <p class="text">线上及线下活动</p>
      <p class="nums">2069个主题</p>
    </div>
  </dd>
  <dd id="forum80">
    <p class="pic"><a href="forum-80-1.html" data-bn-ipg="fid-80-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/cmgw.jpg" align="left" alt="聪明购物" title="聪明购物" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-80-1.html" data-bn-ipg="fid-80-2"><span>聪明购物</span></a></h3>

      <p class="text">外币兑换 购物 纪念品 退税</p>
      <p class="nums">1962个主题</p>
    </div>
  </dd>
  <dd id="forum49">
    <p class="pic"><a href="forum-49-1.html" data-bn-ipg="fid-49-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/mxp.jpg" align="left" alt="明信片" title="明信片" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-49-1.html" data-bn-ipg="fid-49-2"><span>明信片</span></a></h3>

      <p class="text">全球最大的华人明信片交换平台</p>
      <p class="nums">5338个主题</p>
    </div>
  </dd>
  <dd id="forum40">
    <p class="pic"><a href="forum-40-1.html" data-bn-ipg="fid-40-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/hwyd.jpg" align="left" alt="户外运动" title="户外运动" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-40-1.html" data-bn-ipg="fid-40-2"><span>户外运动</span></a></h3>

      <p class="text">体验即生活</p>
      <p class="nums">3001个主题</p>
    </div>
  </dd>
  <dd id="forum22">
    <p class="pic"><a href="forum-22-1.html" data-bn-ipg="fid-22-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/lxsy.jpg" align="left" alt="旅行摄影" title="旅行摄影" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-22-1.html" data-bn-ipg="fid-22-2"><span>旅行摄影</span></a></h3>

      <p class="text">行色</p>
      <p class="nums">4012个主题</p>
    </div>
  </dd>
  <dd id="forum33">
    <p class="pic"><a href="forum-33-1.html" data-bn-ipg="fid-33-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/zj.jpg" align="left" alt="自驾" title="自驾" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-33-1.html" data-bn-ipg="fid-33-2"><span>自驾</span></a></h3>

      <p class="text">心有多宽路就有多远</p>
      <p class="nums">3045个主题</p>
    </div>
  </dd>
  <dd id="forum87">
    <p class="pic"><a href="forum-87-1.html" data-bn-ipg="fid-87-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/qyer.jpg" align="left" alt="穷游er" title="穷游er" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-87-1.html" data-bn-ipg="fid-87-2"><span>穷游er</span></a></h3>

      <p class="text">穷游er专栏, 原长老访谈录</p>
      <p class="nums">171个主题</p>
    </div>
  </dd>
  <dd id="forum41">
    <p class="pic"><a href="forum-41-1.html" data-bn-ipg="fid-41-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/qymm.jpg" align="left" alt="穷游MM" title="穷游MM" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-41-1.html" data-bn-ipg="fid-41-2"><span>穷游MM</span></a></h3>

      <p class="text">关注女生出游的方方面面</p>
      <p class="nums">1295个主题</p>
    </div>
  </dd>
</dl>
<div class="bbs_sldline2"></div>

<dl class="bbs_indlist clearfix">
  <dt class="fontYaHei" id="category66">后院</dt>

  <dd id="forum20">
    <p class="pic"><a href="forum-20-1.html" data-bn-ipg="fid-20-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/hktk.jpg" align="left" alt="海阔天空" title="海阔天空" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-20-1.html" data-bn-ipg="fid-20-2"><span>海阔天空</span></a></h3>

      <p class="text">没有严格的话题归类, 请尽量围绕自助旅行讨论</p>
      <p class="nums">10341个主题</p>
    </div>
  </dd>
  <dd id="forum10">
    <p class="pic"><a href="forum-10-1.html" data-bn-ipg="fid-10-2"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/jyt.jpg" align="left" alt="聚义堂" title="聚义堂" border="0"></a></p>
    <div class="box">
      <h3 class="tit"><a href="forum-10-1.html" data-bn-ipg="fid-10-2"><span>聚义堂</span></a></h3>

      <p class="text">建议 意见 反馈</p>
      <p class="nums">1558个主题</p>
    </div>
  </dd>
</dl>


</div>
<div class="lay_side">
  <div class="bbs_sidetool2">
    <p><a href="javascript:void(0);" class="btn_newbbs2" data-bn-ipg="bbs-writepost">写新帖</a></p>
  </div>
  <div id="bbs_lastread" class="bbs_lastread" style="">
    <p class="bbs_lastread_tit"><span id="bbs_lastread_tit" data-bn-ipg="bbs-readpost">上次读到</span></p>
    <div style="display: none;" id="bbs_lastread_lay" class="bbs_lastread_lay">
      <p class="bbs_lastread_lay_arrow"></p>
      <p class="bbs_lastread_lay_arrow2"></p>
      <ul id="bbs_lastread_laylist" class="list"><li class="item"><p class="tit"><a href="http://bbs.qyer.com/thread-817824-1.html" data-bn-ipg="bbs-historylist-1" title="从心发现——新加坡&amp;民丹岛　8天热力亲子之旅（环球影城/海洋馆/摩天轮/金沙泳池）">从心发现——新加坡&amp;民丹岛　8天热力亲子之旅（环球影城/海洋馆/摩天轮/金沙泳池）</a></p><p class="info"><span class="del"><a href="javascript:void(0)" onclick="clear_history_read_thread(this,817824);" data-bn-ipg="bbs-historyclear-1">清除</a></span><span class="page">第1/1页</span><span class="link"><a href="http://bbs.qyer.com/thread-817824-1.html" data-bn-ipg="bbs-historyread-1">继续阅读</a></span></p></li><li class="item"><p class="tit"><a href="http://bbs.qyer.com/thread-817762-1.html" data-bn-ipg="bbs-historylist-2" title="七月中旬登少女峰 求同游 团体票省钱游~！">七月中旬登少女峰 求同游 团体票省钱游~！</a></p><p class="info"><span class="del"><a href="javascript:void(0)" onclick="clear_history_read_thread(this,817762);" data-bn-ipg="bbs-historyclear-2">清除</a></span><span class="page">第1/1页</span><span class="link"><a href="http://bbs.qyer.com/thread-817762-1.html" data-bn-ipg="bbs-historyread-2">继续阅读</a></span></p></li></ul>
    </div>
  </div>


  <div class="bbs_sldline1"></div>
  <div class="bbs_lianhot">
    <h3 class="bbs_sidetit fontYaHei">热门连载</h3>
    <ol class="bbs_tiehotlist">
      <li class="item1"><p><a href="http://bbs.qyer.com/thread-654208-1.html" data-bn-ipg="bbs-hotseries-1" title="花生游世界之2012.7-10三洲十国，斋普尔琥珀堡~">花生游世界之2012.7-10三洲十国，斋普尔琥珀堡~</a></p></li>
      <li class="item2"><p><a href="http://bbs.qyer.com/thread-741708-1.html" data-bn-ipg="bbs-hotseries-2" title="关于猫力和瘦肉的无国界壮游">关于猫力和瘦肉的无国界壮游</a></p></li>
      <li class="item3"><p><a href="http://bbs.qyer.com/thread-786855-1.html" data-bn-ipg="bbs-hotseries-3" title="Super Mario@Thailand 曼谷.清迈.Pai.普吉岛.PP岛">Super Mario@Thailand 曼谷.清迈.Pai.普吉岛.PP岛</a></p></li>
      <li class="item4"><p><a href="http://bbs.qyer.com/thread-803894-1.html" data-bn-ipg="bbs-hotseries-4" title="来生与你有个约定——新西兰！(全文完，已增设电梯)">来生与你有个约定——新西兰！(全文完，已增设电梯)</a></p></li>
      <li class="item5"><p><a href="http://bbs.qyer.com/thread-569533-1.html" data-bn-ipg="bbs-hotseries-5" title="大鱼小猫法瑞德奥意希六国21天欧游记（更新至圣托里尼）">大鱼小猫法瑞德奥意希六国21天欧游记（更新至圣托里尼）</a></p></li>
    </ol>
  </div>

  <div class="mt30" id="ad_footerbanner3"><iframe id="a62f9b20" name="a62f9b20" src="http://ad.qyer.com/www/delivery/afr.php?zoneid=30&amp;cb=INSERT_RANDOM_NUMBER_HERE" frameborder="0" scrolling="no" width="270" height="270">&lt;a href='http://ad.qyer.com/www/delivery/ck.php?n=ab6468f0&amp;amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'&gt;&lt;img src='http://ad.qyer.com/www/delivery/avw.php?zoneid=30&amp;amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;amp;n=ab6468f0' border='0' alt='' /&gt;&lt;/a&gt;</iframe>
  </div>
</div>
<div class="cb"></div>

<div class="bbs_sldline2"></div>
<div class="bbs_btmlists clearfix">
  <div class="bbs_btmlist">
    <h3 class="title">热门旅行目的地国家</h3>
    <div class="lists">
      <ul class="list">
        <li><a href="http://place.qyer.com/thailand/" title="泰国旅游攻略" data-bn-ipg="bbs-bottom-hotcountry-1">泰国</a></li>
        <li><a href="http://place.qyer.com/malaysia/" title="马来西亚旅游攻略" data-bn-ipg="bbs-bottom-hotcountry-2">马来西亚</a></li>
        <li><a href="http://place.qyer.com/france/" title="法国旅游攻略" data-bn-ipg="bbs-bottom-hotcountry-3">法国</a></li>
        <li><a href="http://place.qyer.com/italy/" title="意大利旅游攻略" data-bn-ipg="bbs-bottom-hotcountry-4">意大利</a></li>
        <li><a href="http://place.qyer.com/singapore/" title="新加坡旅游攻略" data-bn-ipg="bbs-bottom-hotcountry-5">新加坡</a></li>
        <li><a href="http://place.qyer.com/germany/" title="德国旅游攻略" data-bn-ipg="bbs-bottom-hotcountry-6">德国</a></li>
        <li><a href="http://place.qyer.com/japan/" title="日本旅游攻略" data-bn-ipg="bbs-bottom-hotcountry-7">日本</a></li>
        <li><a href="http://place.qyer.com/usa/" title="美国旅游攻略" data-bn-ipg="bbs-bottom-hotcountry-8">美国</a></li>
        <li><a href="http://place.qyer.com/cambodia/" title="柬埔寨旅游攻略" data-bn-ipg="bbs-bottom-hotcountry-9">柬埔寨</a></li>
        <li><a href="http://place.qyer.com/south-korea/" title="韩国旅游攻略" data-bn-ipg="bbs-bottom-hotcountry-10">韩国</a></li>
      </ul>
      <ul class="list">
        <li><a href="http://place.qyer.com/spain/" title="西班牙旅游攻略" data-bn-ipg="bbs-bottom-hotcountry-11">西班牙</a></li>
        <li><a href="http://place.qyer.com/netherlands/" title="荷兰旅游攻略" data-bn-ipg="bbs-bottom-hotcountry-12">荷兰</a></li>
        <li><a href="http://place.qyer.com/austria/" title="奥地利旅游攻略" data-bn-ipg="bbs-bottom-hotcountry-13">奥地利</a></li>
        <li><a href="http://place.qyer.com/uk/" title="英国旅游攻略" data-bn-ipg="bbs-bottom-hotcountry-14">英国</a></li>
        <li><a href="http://place.qyer.com/vietnam/" title="越南旅游攻略" data-bn-ipg="bbs-bottom-hotcountry-15">越南</a></li>
        <li><a href="http://place.qyer.com/australia/" title="澳大利亚旅游攻略" data-bn-ipg="bbs-bottom-hotcountry-16">澳大利亚</a></li>
        <li><a href="http://place.qyer.com/switzerland/" title="瑞士旅游攻略" data-bn-ipg="bbs-bottom-hotcountry-17">瑞士</a></li>
        <li><a href="http://place.qyer.com/vatican/" title="梵蒂冈旅游攻略" data-bn-ipg="bbs-bottom-hotcountry-18">梵蒂冈</a></li>
        <li><a href="http://place.qyer.com/czech-republic/" title="捷克旅游攻略" data-bn-ipg="bbs-bottom-hotcountry-19">捷克</a></li>
        <li><a href="http://place.qyer.com/belgium/" title="比利时旅游攻略" data-bn-ipg="bbs-bottom-hotcountry-20">比利时</a></li>
      </ul>
      <ul class="list">
        <li><a href="http://place.qyer.com/indonesia/" title="印度尼西亚旅游攻略" data-bn-ipg="bbs-bottom-hotcountry-21">印度尼西亚</a></li>
        <li><a href="http://place.qyer.com/philippines/" title="菲律宾旅游攻略" data-bn-ipg="bbs-bottom-hotcountry-22">菲律宾</a></li>
        <li><a href="http://place.qyer.com/nepal/" title="尼泊尔旅游攻略" data-bn-ipg="bbs-bottom-hotcountry-23">尼泊尔</a></li>
        <li><a href="http://place.qyer.com/greece/" title="希腊旅游攻略" data-bn-ipg="bbs-bottom-hotcountry-24">希腊</a></li>
        <li><a href="http://place.qyer.com/sweden/" title="瑞典旅游攻略" data-bn-ipg="bbs-bottom-hotcountry-25">瑞典</a></li>
        <li><a href="http://place.qyer.com/denmark/" title="丹麦旅游攻略" data-bn-ipg="bbs-bottom-hotcountry-26">丹麦</a></li>
        <li><a href="http://place.qyer.com/hungary/" title="匈牙利旅游攻略" data-bn-ipg="bbs-bottom-hotcountry-27">匈牙利</a></li>
        <li><a href="http://place.qyer.com/new-zealand/" title="新西兰旅游攻略" data-bn-ipg="bbs-bottom-hotcountry-28">新西兰</a></li>
        <li><a href="http://place.qyer.com/canada/" title="加拿大旅游攻略" data-bn-ipg="bbs-bottom-hotcountry-29">加拿大</a></li>
        <li><a href="http://place.qyer.com/turkey/" title="土耳其旅游攻略" data-bn-ipg="bbs-bottom-hotcountry-30">土耳其</a></li>
      </ul>
    </div>
  </div>
  <div class="bbs_btmlist">
    <h3 class="title">热门旅行目的地城市</h3>
    <div class="lists">                                                                <ul class="list">
      <li><a href="http://place.qyer.com/hong-kong/" title="香港旅游攻略" data-bn-ipg="bbs-bottom-hotcity-1">香港</a></li>
      <li><a href="http://place.qyer.com/macau/" title="澳门旅游攻略" data-bn-ipg="bbs-bottom-hotcity-2">澳门</a></li>
      <li><a href="http://place.qyer.com/bangkok/" title="曼谷旅游攻略" data-bn-ipg="bbs-bottom-hotcity-3">曼谷</a></li>
      <li><a href="http://place.qyer.com/paris/" title="巴黎旅游攻略" data-bn-ipg="bbs-bottom-hotcity-4">巴黎</a></li>
      <li><a href="http://place.qyer.com/kuala-lumpur/" title="吉隆坡旅游攻略" data-bn-ipg="bbs-bottom-hotcity-5">吉隆坡</a></li>
      <li><a href="http://place.qyer.com/rome/" title="罗马旅游攻略" data-bn-ipg="bbs-bottom-hotcity-6">罗马</a></li>
      <li><a href="http://place.qyer.com/singapore/" title="新加坡旅游攻略" data-bn-ipg="bbs-bottom-hotcity-7">新加坡</a></li>
      <li><a href="http://place.qyer.com/venice/" title="威尼斯旅游攻略" data-bn-ipg="bbs-bottom-hotcity-8">威尼斯</a></li>
      <li><a href="http://place.qyer.com/florence/" title="佛罗伦萨旅游攻略" data-bn-ipg="bbs-bottom-hotcity-9">佛罗伦萨</a></li>
      <li><a href="http://place.qyer.com/milan/" title="米兰旅游攻略" data-bn-ipg="bbs-bottom-hotcity-10">米兰</a></li>
    </ul>
      <ul class="list">
        <li><a href="http://place.qyer.com/siem-reap/" title="暹粒旅游攻略" data-bn-ipg="bbs-bottom-hotcity-11">暹粒</a></li>
        <li><a href="http://place.qyer.com/tokyo/" title="东京旅游攻略" data-bn-ipg="bbs-bottom-hotcity-12">东京</a></li>
        <li><a href="http://place.qyer.com/barcelona/" title="巴塞罗那旅游攻略" data-bn-ipg="bbs-bottom-hotcity-13">巴塞罗那</a></li>
        <li><a href="http://place.qyer.com/seoul/" title="首尔旅游攻略" data-bn-ipg="bbs-bottom-hotcity-14">首尔</a></li>
        <li><a href="http://place.qyer.com/amsterdam/" title="阿姆斯特丹旅游攻略" data-bn-ipg="bbs-bottom-hotcity-15">阿姆斯特丹</a></li>
        <li><a href="http://place.qyer.com/munich/" title="慕尼黑旅游攻略" data-bn-ipg="bbs-bottom-hotcity-16">慕尼黑</a></li>
        <li><a href="http://place.qyer.com/chiang-mai/" title="清迈旅游攻略" data-bn-ipg="bbs-bottom-hotcity-17">清迈</a></li>
        <li><a href="http://place.qyer.com/london/" title="伦敦旅游攻略" data-bn-ipg="bbs-bottom-hotcity-18">伦敦</a></li>
        <li><a href="http://place.qyer.com/new-york/" title="纽约旅游攻略" data-bn-ipg="bbs-bottom-hotcity-19">纽约</a></li>
        <li><a href="http://place.qyer.com/los-angeles/" title="洛杉矶旅游攻略" data-bn-ipg="bbs-bottom-hotcity-20">洛杉矶</a></li>
      </ul>
      <ul class="list">
        <li><a href="http://place.qyer.com/phuket-island/" title="普吉岛旅游攻略" data-bn-ipg="bbs-bottom-hotcity-21">普吉岛</a></li>
        <li><a href="http://place.qyer.com/kyoto/" title="京都旅游攻略" data-bn-ipg="bbs-bottom-hotcity-22">京都</a></li>
        <li><a href="http://place.qyer.com/vienna/" title="维也纳旅游攻略" data-bn-ipg="bbs-bottom-hotcity-23">维也纳</a></li>
        <li><a href="http://place.qyer.com/taipei/" title="台北旅游攻略" data-bn-ipg="bbs-bottom-hotcity-24">台北</a></li>
        <li><a href="http://place.qyer.com/san-francisco/" title="旧金山旅游攻略" data-bn-ipg="bbs-bottom-hotcity-25">旧金山</a></li>
        <li><a href="http://place.qyer.com/prague/" title="布拉格旅游攻略" data-bn-ipg="bbs-bottom-hotcity-26">布拉格</a></li>
        <li><a href="http://place.qyer.com/sydney/" title="悉尼旅游攻略" data-bn-ipg="bbs-bottom-hotcity-27">悉尼</a></li>
        <li><a href="http://place.qyer.com/berlin/" title="柏林旅游攻略" data-bn-ipg="bbs-bottom-hotcity-28">柏林</a></li>
        <li><a href="http://place.qyer.com/ho-chi-minh-city/" title="胡志明市旅游攻略" data-bn-ipg="bbs-bottom-hotcity-29">胡志明市</a></li>
        <li><a href="http://place.qyer.com/nice/" title="尼斯旅游攻略" data-bn-ipg="bbs-bottom-hotcity-30">尼斯</a></li>
      </ul>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">


    //搜索下拉框
    jQuery(function($){
        var ipt = jQuery("#bbs_tabsearch_ipt"); //input文本框
        var lay = jQuery("#bbs_tabsearch_lay"); //layer下拉菜单
        var handle = true; //焦点开关
        var defval = ""; //input默认值
        var licur = -1; //li默认开始值
        var sc_query_result_arr = [];//查询缓存数组
        var sc_TID = 0;//查询时间定义

        ipt.on("focus",function(){
            var val = jQuery(this).val();
            if(val != "" && typeof sc_query_result_arr[val] != "undefined"){
                lay.html(sc_query_result_arr[val]).show();
                licur = -1;
            }
        });
        ipt.on("blur",function(){
            if(handle){
                lay.hide();
            }
        });
        ipt.keydown(function(event){
            if(event.keyCode == "38" || event.keyCode == "40"){
                event.preventDefault();
            }
        });
        ipt.keyup(function(event){
            var key = event.keyCode;
            var val = jQuery(this).val();
            if(val != ""){
                if(val != defval){
                    clearTimeout(sc_TID);
                    sc_TID = setTimeout(function(){
                        if(typeof sc_query_result_arr[val] == "undefined"){
                            jQuery.get("http://bbs.qyer.com/qyerapi.php",{action:"forumsearch",wd:val},function(data){
                                sc_query_result_arr[val] = data;
                                lay.html(data).show();
                                licur = -1;
                            });
                        }else{
                            lay.html(sc_query_result_arr[val]).show();
                            licur = -1;
                        }

                    },200);

                }
                else if(key == 38){
                    licur --;
                    if(licur < 0){
                        licur = 0;
                    }

                    lay.find("a").removeClass("current").eq(licur).addClass("current");
                }
                else if(key == 40){
                    licur ++;
                    if(licur >= 4){
                        licur = 3;
                    }

                    lay.find("a").removeClass("current").eq(licur).addClass("current");
                }
                else if(key == 13){

                    if(licur >= 0){
                        var rul = lay.find("a").eq(licur).attr("href");
                        window.location.href = rul;
                        return false;
                    }
                    else {
//window.location.href = "#";
                        return false;
                    }
                }
            }
            else {
                lay.hide();
            }
            defval = val; //把默认值改为当前值
        });
        lay.hover(function(){
            handle = false;
        },function(){
            handle = true;
        });
    });

    jQuery(function($){

        jQuery(".bbs_subnav a").live("click",function(){
            jQuery("html,body").animate({scrollTop:jQuery("#category"+jQuery(this).attr("data-gid")).offset().top-45},200);
        });

        //发新贴
        jQuery(".btn_newbbs2").live("click",function(){
            if(!QYER.uid){
                ajaxlogin(0,'','bbsajax.php','pagereload');
                return;
            }
            popup.ajax("/qyerapi.php?action=getpostnewforumlistpop",510);
        });

//焦点图
        jQuery(".bbs_focuspic_list").children("li").show();

        if(typeof jQuery.fn.slides == "function"){
            jQuery("#ind_focus").slides({
                play: 5000,
                pause: 2500,
                hoverPause: true
            });
        }else{
            jQuery.getScript("http://static.qyer.com/js/common/slides.jquery.js",function(){
                jQuery("#ind_focus").slides({
                    play: 5000,
                    pause: 2500,
                    hoverPause: true
                });
            });
        }



        //论坛版块列表

        jQuery(".bbs_indlist dd").hover(function(){
//$(this).find(".nums").hide();
//$(this).find(".text").show();
            jQuery(this).find(".tips").show();
        },function(){
//$(this).find(".nums").show();
//$(this).find(".text").hide();
            jQuery(this).find(".tips").hide();
        });

    });

    //最近读到js脚本

    function clear_history_read_thread(thiz,tid){
        if(typeof tid == "undefined"){
            return false;
        }
        jQuery.getScript("http://static.qyer.com/js/common/jquery.json-2.3.min.js",function(){
            var history_read_threads =[];
            var new_history_read_threads = [];
            if(typeof localStorage.history_read_threads !=="undefined"){
                history_read_threads = jQuery.evalJSON(localStorage.history_read_threads);
                jQuery.each(history_read_threads,function(k,v){
                    if(typeof v!== "undefined" && v.tid != tid){
                        new_history_read_threads.push(v);
                    }

                });
            }

            new_history_read_threads.splice(5);
            window.localStorage.setItem('history_read_threads',jQuery.toJSON(new_history_read_threads));
            //console.log(jQuery(thiz).parents("li"));
            jQuery(thiz).parents("li").remove();
            if(jQuery("#bbs_lastread_laylist").html() == ''){
                jQuery("#bbs_lastread_laylist").html('<p class="null">暂无搜索记录</p>');
            }
            tips.show("已经清除!");
        });
    }
    jQuery(function($){

        if(window.localStorage){
            jQuery.getScript("http://static.qyer.com/js/common/jquery.json-2.3.min.js",function(){
                var history_read_threads =[];
                var history_html = '';
                if(typeof localStorage.history_read_threads !=="undefined"){
                    history_read_threads = jQuery.evalJSON(localStorage.history_read_threads);
                    jQuery.each(history_read_threads,function(k,v){
                        if(typeof v!== "undefined"){
                            history_html = history_html+'<li class="item">'+
                                    '<p class="tit"><a href="'+v.indexhref+'" data-bn-ipg="bbs-historylist-'+(k+1)+'" title="'+v.subject+'">'+v.subject+'</a></p>'+
                                    '<p class="info"><span class="del"><a href="javascript:void(0)" onclick="clear_history_read_thread(this,'+v.tid+');" data-bn-ipg="bbs-historyclear-'+(k+1)+'">清除</a></span><span class="page">第'+v.page+'/'+v.totalpage+'页</span>'+
                                    '<span class="link"><a href="'+v.href+'" data-bn-ipg="bbs-historyread-'+(k+1)+'">继续阅读</a></span></p>'+
                                    '</li>';
                        }
                    });

                }else{
                    history_html = '<p class="null">暂无搜索记录</p>';
                }

                if(!history_html){
                    history_html = '<p class="null">暂无搜索记录</p>';
                }
                if(history_html){

                    jQuery("#bbs_lastread_laylist").html(history_html);
                    jQuery("#bbs_lastread").show();


                    var gaptime; //间隔时间
                    var lastread_tit = jQuery("#bbs_lastread_tit");
                    var lastread_lay = jQuery("#bbs_lastread_lay");

                    function hideFn(){
                        lastread_lay.hide();
                    }

                    lastread_tit.hover(function(){
                        clearTimeout(gaptime);
                        jQuery("#bbs_lastread_lay").show();
                    },function(){
                        gaptime = setTimeout(hideFn,200);
                    });

                    lastread_lay.hover(function(){
                        clearTimeout(gaptime);
                        jQuery(this).show();
                    },function(){
                        gaptime = setTimeout(hideFn,200);
                    });

                    jQuery("#bbs_lastread_laylist .item").hover(function(){
                        jQuery(this).addClass("itemhv");
                    },function(){
                        jQuery(this).removeClass("itemhv");
                    });
                }

            });
        }



    });
</script>