<div class="qyer_head_crumbg">
  <div class="qyer_head_crumb">
    <span class="text"><a href="http://www.qyer.com/">首页</a></span>
    <span class="space">&gt;</span>
    <a id="fjump" href="/" class="dropmenu" onmouseover="showMenu({'ctrlid':this.id})" data-bn-ipg="3-2">论坛</a>&nbsp;&gt;&nbsp;加拿大</div>
</div>

<div class="bbs_listtop clearfix">
  <p class="pic"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/jnd.jpg" width="80" height="80" alt="加拿大"></p>
  <div class="info">
    <h2 class="title fontYaHei">加拿大</h2>
    <p class="text">本版欢迎加拿大有关的旅行话题，关于加拿大的游记、讨论和经验分享都可以发在本版。发帖规则见我们的<a href="http://www.qyer.com/htmlpages/bbsguide.html" target="_blank"><font color="darkgreen">社区指南</font></a></p></div>

  <div class="moderators">

    <dl class="moderator">
      <dt>版主</dt>
      <dd><a href="http://user.qyer.com/user_uid_121066" data-bn-ipg="board-host-1-1"><img src="http://static.qyer.com/data/avatar/000/12/10/66_avatar_big.jpg" width="30" height="30" alt="raynor_y"><span>raynor_y</span></a></dd>        </dl>

  </div>

</div>

<div class="bbs_sldline2"></div>

<div class="lay_wrap">
<div class="lay_main">

<!--列表导航-->
<div class="bbs_maintit">
  <h2 class="title fontYaHei titcur" id="bbs_list_action"><a href="javascript:void(0);" data-bn-ipg="board-type-thread">帖子<em>（3117条）</em></a></h2>
  <p class="titgap">|</p>
  <h2 class="title fontYaHei" id="ask_list_action"><a href="javascript:void(0);" data-bn-ipg="board-type-ask">问答<em>（1707条）</em></a></h2>
  <div class="bbs_tabsearch">
    <form action="http://search.qyer.com/bbs">
      <input type="hidden" name="fid" value="54">
      <input type="text" name="wd" class="inputxt" placeholder="搜索帖子或问答" value="">
      <input type="submit" class="submit" value="" data-bn-ipg="board-search">
    </form>
  </div>
</div>

<div id="bbs_list_div">

<!--列表nav分类-->
<ul class="bbs_tabnav">
  <li class="first  current"><a href="forum-54-1.html" data-bn-ipg="board-thread-all">全部</a></li>
  <li><a href="forumdisplay.php?fid=54&amp;filter=digest" rel="nofollow" data-bn-ipg="board-thread-digest">精华</a></li>

  <li><a href="forum-54-8-1.html" data-bn-ipg="board-thread-8">结伴同游</a></li>
  <li><a href="forum-54-5-1.html" data-bn-ipg="board-thread-5">游记攻略</a></li>
  <li><a href="forum-54-9-1.html" data-bn-ipg="board-thread-9">其他</a></li>
  <li><a href="forum-54-39-1.html" data-bn-ipg="board-thread-39">建议和提醒</a></li>

</ul>
<!--列表信息-->
<div class="bbs_listinfos">
  <div class="orders">
    <span class="tit">排序方式</span>
    <div id="threadtypesmenuorder_fix" class="fl">
                    <span id="threadtypesmenuorder" class="input">
                                        最后回帖时间
                                        </span>
      <ul style="display: none;" id="threadtypesmenuorder_menu" class="orders_lay">
        <li><a href="forumdisplay.php?fid=54&amp;filter=&amp;orderby=lastpost" rel="nofollow" data-bn-ipg="9-1">最后回帖时间</a></li>
        <li><a href="forumdisplay.php?fid=54&amp;filter=&amp;orderby=dateline" rel="nofollow" data-bn-ipg="9-2">发表时间</a></li>
      </ul>
    </div>
  </div>
  <div class="types">
    <span class="tit">列表样式</span>
    <p class="icons">
      <span id="textlist" class="ontext" title="文字" data-bn-ipg="board-liststyle-nopic">文字</span><span id="piclist" class="pic" title="图文" data-bn-ipg="board-liststyle-pic">图文</span>
    </p>
  </div>
  <span class="sums">3117篇贴子</span>
</div>

<!--纯文列表-->
<div id="threadlist" style="position: relative;">
<form method="post" name="moderate" id="moderate" action="topicadmin.php?action=moderate&amp;fid=54&amp;infloat=yes&amp;nopost=yes">
<input type="hidden" name="formhash" value="baa97809">
<input type="hidden" name="listextra" value="page%3D1">

<ul class="bbs_threadlist">


<li class="item">
  <h3 class="titles fontYaHei">

    <a href="thread-817904-1.html" class="tit" title="【食在温哥华】逛不够的市场，大胃口小肚皮" data-bn-ipg="board-threadlist-title-1">【食在温哥华】逛不够的市场，大胃口小肚皮</a>

  </h3>

  <div class="infos">
    <p class="info"><span class="views">2</span><span class="sum">0</span><span class="gap">|</span><span class="time">最后回复：14分钟前</span></p>
    <p><a href="forum-54-8-1.html" class="tag" data-bn-ipg="board-threadlist-type-8">结伴同游</a><span class="reply"><a href="http://user.qyer.com/user_uid_1544758" data-bn-ipg="board-threadlist-user-1">Frozen_Ark</a>&nbsp;&nbsp;|&nbsp;&nbsp;2013-7-9</span></p>
    <p class="pics"><a href="http://bbs.qyer.com/thread-817904-1.html" data-bn-ipg="board-threadlist-pic-1"><img height="75" alt="【食在温哥华】逛不够的市场，大胃口小肚皮" src="http://pic.qyer.com/album/user/425/79/RUtQRRMCYA/index/200x133"></a><a href="http://bbs.qyer.com/thread-817904-1.html" data-bn-ipg="board-threadlist-pic-1"><img height="75" alt="【食在温哥华】逛不够的市场，大胃口小肚皮" src="http://pic.qyer.com/album/user/425/79/RUtQRRMCYg/index/200x133"></a><a href="http://bbs.qyer.com/thread-817904-1.html" data-bn-ipg="board-threadlist-pic-1"><img height="75" alt="【食在温哥华】逛不够的市场，大胃口小肚皮" src="http://pic.qyer.com/album/user/425/79/RUtQRRMCZA/index/200x133"></a></p>
  </div>

</li>

<li class="item">
  <h3 class="titles fontYaHei">

    <a href="thread-817436-1.html" class="tit" title="8月2日至6日在多伦多找人同游" data-bn-ipg="board-threadlist-title-2">8月2日至6日在多伦多找人同游</a>

  </h3>

  <div class="infos">
    <p class="info"><span class="views">27</span><span class="sum">3</span><span class="gap">|</span><span class="time">最后回复：17分钟前</span></p>
    <p><a href="forum-54-8-1.html" class="tag" data-bn-ipg="board-threadlist-type-8">结伴同游</a><span class="reply"><a href="http://user.qyer.com/user_uid_170318" data-bn-ipg="board-threadlist-user-2">海底的风</a>&nbsp;&nbsp;|&nbsp;&nbsp;2013-7-8</span></p>
    <p class="pics"></p>
  </div>

</li>

<li class="item">
  <h3 class="titles fontYaHei">

    <a href="thread-817839-1.html" class="tit" title="【慢行温哥华】全球最佳公园＋加西风情大餐" data-bn-ipg="board-threadlist-title-3">【慢行温哥华】全球最佳公园＋加西风情大餐</a>

  </h3>

  <div class="infos">
    <p class="info"><span class="views">16</span><span class="sum">2</span><span class="gap">|</span><span class="time">最后回复：半小时前</span></p>
    <p><a href="forum-54-8-1.html" class="tag" data-bn-ipg="board-threadlist-type-8">结伴同游</a><span class="reply"><a href="http://user.qyer.com/user_uid_1544758" data-bn-ipg="board-threadlist-user-3">Frozen_Ark</a>&nbsp;&nbsp;|&nbsp;&nbsp;2013-7-9</span></p>
    <p class="pics"><a href="http://bbs.qyer.com/thread-817839-1.html" data-bn-ipg="board-threadlist-pic-3"><img height="75" alt="【慢行温哥华】全球最佳公园＋加西风情大餐" src="http://pic.qyer.com/album/user/425/62/RUtQRBgOYQ/index/200x133"></a><a href="http://bbs.qyer.com/thread-817839-1.html" data-bn-ipg="board-threadlist-pic-3"><img height="75" alt="【慢行温哥华】全球最佳公园＋加西风情大餐" src="http://pic.qyer.com/album/user/425/63/RUtQRBkFZw/index/200x133"></a><a href="http://bbs.qyer.com/thread-817839-1.html" data-bn-ipg="board-threadlist-pic-3"><img height="75" alt="【慢行温哥华】全球最佳公园＋加西风情大餐" src="http://pic.qyer.com/album/user/425/63/RUtQRBkEYw/index/200x133"></a></p>
  </div>

</li>

<li class="item">
  <h3 class="titles fontYaHei">

    <a href="thread-810977-1.html" class="tit" title="和2岁的宝宝游览冰冻的梦莲湖,乘阿拉斯加邮轮,在班夫和熊一家碰面,fairmont 房间比较" data-bn-ipg="board-threadlist-title-4">和2岁的宝宝游览冰冻的梦莲湖,乘阿拉斯加邮轮,在班夫和熊一家碰面,fairmont 房间比较</a>

                                                                                <span class="showprompt" data-title="含行程单">
                    <img class="icon" alt="" src="http://static.qyer.com/images/bbs/two/route.png">
                    </span>
  </h3>

  <div class="infos">
    <p class="info"><span class="views">714</span><span class="sum">53</span><span class="gap">|</span><span class="time">最后回复：半小时前</span></p>
    <p><a href="forum-54-5-1.html" class="tag" data-bn-ipg="board-threadlist-type-5">游记攻略</a><span class="reply"><a href="http://user.qyer.com/user_uid_117922" data-bn-ipg="board-threadlist-user-4">tumi</a>&nbsp;&nbsp;|&nbsp;&nbsp;2013-6-19</span></p>
    <p class="pics"><a href="http://bbs.qyer.com/thread-810977-1.html" data-bn-ipg="board-threadlist-pic-4"><img height="75" alt="和2岁的宝宝游览冰冻的梦莲湖,乘阿拉斯加邮轮,在班夫和熊一家碰面,fairmont 房间比较" src="http://pic.qyer.com/album/user/411/44/RUhURh4GYA/index/200x133"></a><a href="http://bbs.qyer.com/thread-810977-1.html" data-bn-ipg="board-threadlist-pic-4"><img height="75" alt="和2岁的宝宝游览冰冻的梦莲湖,乘阿拉斯加邮轮,在班夫和熊一家碰面,fairmont 房间比较" src="http://pic.qyer.com/album/user/411/45/RUhURh8HZg/index/200x133"></a><a href="http://bbs.qyer.com/thread-810977-1.html" data-bn-ipg="board-threadlist-pic-4"><img height="75" alt="和2岁的宝宝游览冰冻的梦莲湖,乘阿拉斯加邮轮,在班夫和熊一家碰面,fairmont 房间比较" src="http://pic.qyer.com/album/user/411/45/RUhURh8HZw/index/200x133"></a></p>
  </div>

</li>

<li class="item">
  <h3 class="titles fontYaHei">

    <a href="thread-817853-1.html" class="tit" title="在白马市，明天去DAWSON，谁在白马市现在" data-bn-ipg="board-threadlist-title-5">在白马市，明天去DAWSON，谁在白马市现在</a>

  </h3>

  <div class="infos">
    <p class="info"><span class="views">7</span><span class="sum">0</span><span class="gap">|</span><span class="time">最后回复：2小时前</span></p>
    <p><a href="forum-54-8-1.html" class="tag" data-bn-ipg="board-threadlist-type-8">结伴同游</a><span class="reply"><a href="http://user.qyer.com/user_uid_8079" data-bn-ipg="board-threadlist-user-5">kingshop</a>&nbsp;&nbsp;|&nbsp;&nbsp;2013-7-9</span></p>
    <p class="pics"></p>
  </div>

</li>

<li class="item">
  <h3 class="titles fontYaHei">

    <a href="thread-815766-1.html" class="tit" title="9月23，温哥华班夫结伴同游，俩mm" data-bn-ipg="board-threadlist-title-6">9月23，温哥华班夫结伴同游，俩mm</a>

  </h3>

  <div class="infos">
    <p class="info"><span class="views">78</span><span class="sum">5</span><span class="gap">|</span><span class="time">最后回复：3小时前</span></p>
    <p><a href="forum-54-8-1.html" class="tag" data-bn-ipg="board-threadlist-type-8">结伴同游</a><span class="reply"><a href="http://user.qyer.com/user_uid_1232320" data-bn-ipg="board-threadlist-user-6">爱美丽猫</a>&nbsp;&nbsp;|&nbsp;&nbsp;2013-7-3</span></p>
    <p class="pics"></p>
  </div>

</li>

<li class="item">
  <h3 class="titles fontYaHei">

    <a href="thread-790908-1.html" class="tit" title="在Air Canada官网上购买机票，支付不成功，请求帮助！" data-bn-ipg="board-threadlist-title-7">在Air Canada官网上购买机票，支付不成功，请求帮助！</a>

  </h3>

  <div class="infos">
    <p class="info"><span class="views">1086</span><span class="sum">28</span><span class="gap">|</span><span class="time">最后回复：3小时前</span></p>
    <p><a href="forum-54-9-1.html" class="tag" data-bn-ipg="board-threadlist-type-9">其他</a><span class="reply"><a href="http://user.qyer.com/user_uid_226107" data-bn-ipg="board-threadlist-user-7">只爱自由行</a>&nbsp;&nbsp;|&nbsp;&nbsp;2013-4-19</span></p>
    <p class="pics"></p>
  </div>

</li>

<li class="item">
  <h3 class="titles fontYaHei">

    <a href="thread-800553-1.html" class="tit" title="关于多伦多" data-bn-ipg="board-threadlist-title-8">关于多伦多</a>

  </h3>

  <div class="infos">
    <p class="info"><span class="views">1477</span><span class="sum">87</span><span class="gap">|</span><span class="time">最后回复：3小时前</span></p>
    <p><a href="forum-54-39-1.html" class="tag" data-bn-ipg="board-threadlist-type-39">建议和提醒</a><span class="reply"><a href="http://user.qyer.com/user_uid_1610383" data-bn-ipg="board-threadlist-user-8">NYCTRAVEL</a>&nbsp;&nbsp;|&nbsp;&nbsp;2013-5-19</span></p>
    <p class="pics"></p>
  </div>

</li>

<li class="item">
  <h3 class="titles fontYaHei">

    <a href="thread-771413-1.html" class="tit" title="征同游 2013.10.5-2013.10.22温哥华-班夫征同游" data-bn-ipg="board-threadlist-title-9">征同游 2013.10.5-2013.10.22温哥华-班夫征同游</a>

  </h3>

  <div class="infos">
    <p class="info"><span class="views">1200</span><span class="sum">28</span><span class="gap">|</span><span class="time">最后回复：3小时前</span></p>
    <p><a href="forum-54-8-1.html" class="tag" data-bn-ipg="board-threadlist-type-8">结伴同游</a><span class="reply"><a href="http://user.qyer.com/user_uid_1697331" data-bn-ipg="board-threadlist-user-9">小狐狸旎旎</a>&nbsp;&nbsp;|&nbsp;&nbsp;2013-2-26</span></p>
    <p class="pics"></p>
  </div>

</li>

<li class="item">
  <h3 class="titles fontYaHei">

    <a href="thread-799660-1.html" class="tit" title="7月或者8月中旬班芙、落基山自驾，捡人或被捡都行" data-bn-ipg="board-threadlist-title-10">7月或者8月中旬班芙、落基山自驾，捡人或被捡都行</a>

  </h3>

  <div class="infos">
    <p class="info"><span class="views">776</span><span class="sum">50</span><span class="gap">|</span><span class="time">最后回复：3小时前</span></p>
    <p><a href="forum-54-8-1.html" class="tag" data-bn-ipg="board-threadlist-type-8">结伴同游</a><span class="reply"><a href="http://user.qyer.com/user_uid_2230967" data-bn-ipg="board-threadlist-user-10">vvvioleta</a>&nbsp;&nbsp;|&nbsp;&nbsp;2013-5-16</span></p>
    <p class="pics"></p>
  </div>

</li>

<li class="item">
  <h3 class="titles fontYaHei">

    <a href="thread-808906-1.html" class="tit" title="[重要公告]本版以后禁止发布加国公园年票转让信息" data-bn-ipg="board-threadlist-title-11">[重要公告]本版以后禁止发布加国公园年票转让信息</a>

  </h3>

  <div class="infos">
    <p class="info"><span class="views">297</span><span class="sum">8</span><span class="gap">|</span><span class="time">最后回复：3小时前</span></p>
    <p><a href="forum-54-9-1.html" class="tag" data-bn-ipg="board-threadlist-type-9">其他</a><span class="reply"><a href="http://user.qyer.com/user_uid_121066" data-bn-ipg="board-threadlist-user-11">raynor_y</a>&nbsp;&nbsp;|&nbsp;&nbsp;2013-6-13</span></p>
    <p class="pics"></p>
  </div>

</li>

<li class="item">
  <h3 class="titles fontYaHei">

    <a href="thread-755222-1.html" class="tit titjh" title="2012年9月加拿大15日游--落基山&amp;枫叶大道" data-bn-ipg="board-threadlist-title-12">2012年9月加拿大15日游--落基山&amp;枫叶大道</a>

                                            <span class="showprompt" data-title="三级精华">
                                                    <img class="icon" alt="" src="http://static.qyer.com/images/bbs/two/digest.png">
                                                    <img class="icon" alt="" src="http://static.qyer.com/images/bbs/two/digest.png">
                                                    <img class="icon" alt="" src="http://static.qyer.com/images/bbs/two/digest.png">
                                                </span>
                                                                                <span class="showprompt" data-title="含行程单">
                    <img class="icon" alt="" src="http://static.qyer.com/images/bbs/two/route.png">
                    </span>
  </h3>

  <div class="infos">
    <p class="info"><span class="views">43080</span><span class="sum">292</span><span class="gap">|</span><span class="time">最后回复：4小时前</span></p>
    <p><a href="forum-54-5-1.html" class="tag" data-bn-ipg="board-threadlist-type-5">游记攻略</a><span class="reply"><a href="http://user.qyer.com/user_uid_153890" data-bn-ipg="board-threadlist-user-12">zygao</a>&nbsp;&nbsp;|&nbsp;&nbsp;2012-12-23</span></p>
    <p class="pics"><a href="http://bbs.qyer.com/thread-755222-1.html" data-bn-ipg="board-threadlist-pic-12"><img height="75" alt="2012年9月加拿大15日游--落基山&amp;枫叶大道" src="http://static.qyer.com/album/user/311/40/QkhURhoOZQ/200x133"></a><a href="http://bbs.qyer.com/thread-755222-1.html" data-bn-ipg="board-threadlist-pic-12"><img height="75" alt="2012年9月加拿大15日游--落基山&amp;枫叶大道" src="http://static.qyer.com/album/user/311/10/QkhUQxoHYg/200x133"></a><a href="http://bbs.qyer.com/thread-755222-1.html" data-bn-ipg="board-threadlist-pic-12"><img height="75" alt="2012年9月加拿大15日游--落基山&amp;枫叶大道" src="http://static.qyer.com/album/user/310/2/QkhVQhgHYQ/200x133"></a></p>
  </div>

</li>

<li class="item">
  <h3 class="titles fontYaHei">

    <a href="thread-817132-1.html" class="tit" title="目测自己的加签申请要悲剧了" data-bn-ipg="board-threadlist-title-13">目测自己的加签申请要悲剧了</a>

  </h3>

  <div class="infos">
    <p class="info"><span class="views">213</span><span class="sum">12</span><span class="gap">|</span><span class="time">最后回复：4小时前</span></p>
    <p><a href="forum-54-9-1.html" class="tag" data-bn-ipg="board-threadlist-type-9">其他</a><span class="reply"><a href="http://user.qyer.com/user_uid_888017" data-bn-ipg="board-threadlist-user-13">sjoffice</a>&nbsp;&nbsp;|&nbsp;&nbsp;2013-7-7</span></p>
    <p class="pics"></p>
  </div>

</li>

<li class="item">
  <h3 class="titles fontYaHei">

    <a href="thread-788786-1.html" class="tit titjh" title="家门口也有风景系列之-多伦多美食记 （完）" data-bn-ipg="board-threadlist-title-14">家门口也有风景系列之-多伦多美食记 （完）</a>

                                            <span class="showprompt" data-title="一级精华">
                                                    <img class="icon" alt="" src="http://static.qyer.com/images/bbs/two/digest.png">
                                                </span>
                                                                                <span class="showprompt" data-title="含行程单">
                    <img class="icon" alt="" src="http://static.qyer.com/images/bbs/two/route.png">
                    </span>
  </h3>

  <div class="infos">
    <p class="info"><span class="views">4328</span><span class="sum">73</span><span class="gap">|</span><span class="time">最后回复：4小时前</span></p>
    <p><a href="forum-54-5-1.html" class="tag" data-bn-ipg="board-threadlist-type-5">游记攻略</a><span class="reply"><a href="http://user.qyer.com/user_uid_164062" data-bn-ipg="board-threadlist-user-14">ge_mimi</a>&nbsp;&nbsp;|&nbsp;&nbsp;2013-4-15</span></p>
    <p class="pics"><a href="http://bbs.qyer.com/thread-788786-1.html" data-bn-ipg="board-threadlist-pic-14"><img height="75" alt="家门口也有风景系列之-多伦多美食记 （完）" src="http://static.qyer.com/album/user/369/64/Qk9cRB4GZw/200x133"></a><a href="http://bbs.qyer.com/thread-788786-1.html" data-bn-ipg="board-threadlist-pic-14"><img height="75" alt="家门口也有风景系列之-多伦多美食记 （完）" src="http://static.qyer.com/album/user/369/64/Qk9cRB4GZQ/200x133"></a><a href="http://bbs.qyer.com/thread-788786-1.html" data-bn-ipg="board-threadlist-pic-14"><img height="75" alt="家门口也有风景系列之-多伦多美食记 （完）" src="http://static.qyer.com/album/user/369/64/Qk9cRB4GZA/200x133"></a></p>
  </div>

</li>

<li class="item">
  <h3 class="titles fontYaHei">

    <a href="thread-767833-1.html" class="tit titjh" title="加国网签成功拿到N年N次全过程" data-bn-ipg="board-threadlist-title-15">加国网签成功拿到N年N次全过程</a>

                                            <span class="showprompt" data-title="三级精华">
                                                    <img class="icon" alt="" src="http://static.qyer.com/images/bbs/two/digest.png">
                                                    <img class="icon" alt="" src="http://static.qyer.com/images/bbs/two/digest.png">
                                                    <img class="icon" alt="" src="http://static.qyer.com/images/bbs/two/digest.png">
                                                </span>
  </h3>

  <div class="infos">
    <p class="info"><span class="views">59103</span><span class="sum">856</span><span class="gap">|</span><span class="time">最后回复：5小时前</span></p>
    <p><a href="forum-54-39-1.html" class="tag" data-bn-ipg="board-threadlist-type-39">建议和提醒</a><span class="reply"><a href="http://user.qyer.com/user_uid_1345930" data-bn-ipg="board-threadlist-user-15">stdanlee</a>&nbsp;&nbsp;|&nbsp;&nbsp;2013-2-14</span></p>
    <p class="pics"><a href="http://bbs.qyer.com/thread-767833-1.html" data-bn-ipg="board-threadlist-pic-15"><img height="75" alt="加国网签成功拿到N年N次全过程" src="http://static.qyer.com/album/user/333/88/QkpWShIPZw/200x133"></a><a href="http://bbs.qyer.com/thread-767833-1.html" data-bn-ipg="board-threadlist-pic-15"><img height="75" alt="加国网签成功拿到N年N次全过程" src="http://static.qyer.com/album/user/333/88/QkpWShIFZQ/200x133"></a><a href="http://bbs.qyer.com/thread-767833-1.html" data-bn-ipg="board-threadlist-pic-15"><img height="75" alt="加国网签成功拿到N年N次全过程" src="http://static.qyer.com/album/user/333/88/QkpWShIFZg/200x133"></a></p>
  </div>

</li>

<li class="item">
  <h3 class="titles fontYaHei">

    <a href="thread-729169-1.html" class="tit" title="关于加拿大入境的各种问题汇总！从北京出发，多伦多入境!" data-bn-ipg="board-threadlist-title-16">关于加拿大入境的各种问题汇总！从北京出发，多伦多入境!</a>

  </h3>

  <div class="infos">
    <p class="info"><span class="views">2697</span><span class="sum">28</span><span class="gap">|</span><span class="time">最后回复：7小时前</span></p>
    <p><a href="forum-54-5-1.html" class="tag" data-bn-ipg="board-threadlist-type-5">游记攻略</a><span class="reply"><a href="http://user.qyer.com/user_uid_1430440" data-bn-ipg="board-threadlist-user-16">彩彩小豆</a>&nbsp;&nbsp;|&nbsp;&nbsp;2012-10-5</span></p>
    <p class="pics"><a href="http://bbs.qyer.com/thread-729169-1.html" data-bn-ipg="board-threadlist-pic-16"><img height="75" alt="关于加拿大入境的各种问题汇总！从北京出发，多伦多入境!" src="http://static.qyer.com/album/user/292/68/Q0BXRBIAZA/200x133"></a></p>
  </div>

</li>

<li class="item">
  <h3 class="titles fontYaHei">

    <a href="thread-806391-1.html" class="tit" title="美国F1成功申请加拿大签证过程，自己去使馆递签，血泪经验，欢喜结果～" data-bn-ipg="board-threadlist-title-17">美国F1成功申请加拿大签证过程，自己去使馆递签，血泪经验，欢喜结果～</a>

  </h3>

  <div class="infos">
    <p class="info"><span class="views">641</span><span class="sum">17</span><span class="gap">|</span><span class="time">最后回复：8小时前</span></p>
    <p><a href="forum-54-39-1.html" class="tag" data-bn-ipg="board-threadlist-type-39">建议和提醒</a><span class="reply"><a href="http://user.qyer.com/user_uid_1329807" data-bn-ipg="board-threadlist-user-17">shejjfans</a>&nbsp;&nbsp;|&nbsp;&nbsp;2013-6-6</span></p>
    <p class="pics"></p>
  </div>

</li>

<li class="item">
  <h3 class="titles fontYaHei">

    <a href="thread-816357-1.html" class="tit" title="求助：关于租车" data-bn-ipg="board-threadlist-title-18">求助：关于租车</a>

  </h3>

  <div class="infos">
    <p class="info"><span class="views">174</span><span class="sum">14</span><span class="gap">|</span><span class="time">最后回复：8小时前</span></p>
    <p><a href="forum-54-39-1.html" class="tag" data-bn-ipg="board-threadlist-type-39">建议和提醒</a><span class="reply"><a href="http://user.qyer.com/user_uid_2334519" data-bn-ipg="board-threadlist-user-18">ziziyj</a>&nbsp;&nbsp;|&nbsp;&nbsp;2013-7-4</span></p>
    <p class="pics"></p>
  </div>

</li>

<li class="item">
  <h3 class="titles fontYaHei">

    <a href="thread-798554-1.html" class="tit" title="玩在温哥华(以当地人的角度，而非走马观花)" data-bn-ipg="board-threadlist-title-19">玩在温哥华(以当地人的角度，而非走马观花)</a>

  </h3>

  <div class="infos">
    <p class="info"><span class="views">20419</span><span class="sum">258</span><span class="gap">|</span><span class="time">最后回复：11小时前</span></p>
    <p><a href="forum-54-9-1.html" class="tag" data-bn-ipg="board-threadlist-type-9">其他</a><span class="reply"><a href="http://user.qyer.com/user_uid_1264642" data-bn-ipg="board-threadlist-user-19">magicpeach</a>&nbsp;&nbsp;|&nbsp;&nbsp;2013-5-13</span></p>
    <p class="pics"><a href="http://bbs.qyer.com/thread-798554-1.html" data-bn-ipg="board-threadlist-pic-19"><img height="75" alt="玩在温哥华(以当地人的角度，而非走马观花)" src="http://pic.qyer.com/album/user/386/59/QkFTRxMAYw/index/200x133"></a><a href="http://bbs.qyer.com/thread-798554-1.html" data-bn-ipg="board-threadlist-pic-19"><img height="75" alt="玩在温哥华(以当地人的角度，而非走马观花)" src="http://pic.qyer.com/album/user/386/16/QkFTQxwFaQ/index/200x133"></a><a href="http://bbs.qyer.com/thread-798554-1.html" data-bn-ipg="board-threadlist-pic-19"><img height="75" alt="玩在温哥华(以当地人的角度，而非走马观花)" src="http://pic.qyer.com/album/user/386/59/QkFTRxMBZg/index/200x133"></a></p>
  </div>

</li>

<li class="item">
  <h3 class="titles fontYaHei">

    <a href="thread-817710-1.html" class="tit" title="求助：教育和就业细节表" data-bn-ipg="board-threadlist-title-20">求助：教育和就业细节表</a>

  </h3>

  <div class="infos">
    <p class="info"><span class="views">16</span><span class="sum">2</span><span class="gap">|</span><span class="time">最后回复：13小时前</span></p>
    <p><a href="forum-54-9-1.html" class="tag" data-bn-ipg="board-threadlist-type-9">其他</a><span class="reply"><a href="http://user.qyer.com/user_uid_1377528" data-bn-ipg="board-threadlist-user-20">phiiyan</a>&nbsp;&nbsp;|&nbsp;&nbsp;2013-7-8</span></p>
    <p class="pics"></p>
  </div>

</li>

<li class="item">
  <h3 class="titles fontYaHei">

    <a href="thread-817143-1.html" class="tit" title="徜徉山水之间- 壮美洛基山脉，6月banff, jasper10日游新鲜出炉" data-bn-ipg="board-threadlist-title-21">徜徉山水之间- 壮美洛基山脉，6月banff, jasper10日游新鲜出炉</a>

                                                                                <span class="showprompt" data-title="含行程单">
                    <img class="icon" alt="" src="http://static.qyer.com/images/bbs/two/route.png">
                    </span>
  </h3>

  <div class="infos">
    <p class="info"><span class="views">140</span><span class="sum">14</span><span class="gap">|</span><span class="time">最后回复：2013-07-08</span></p>
    <p><a href="forum-54-5-1.html" class="tag" data-bn-ipg="board-threadlist-type-5">游记攻略</a><span class="reply"><a href="http://user.qyer.com/user_uid_1377311" data-bn-ipg="board-threadlist-user-21">火烤棉花糖</a>&nbsp;&nbsp;|&nbsp;&nbsp;2013-7-7</span></p>
    <p class="pics"><a href="http://bbs.qyer.com/thread-817143-1.html" data-bn-ipg="board-threadlist-pic-21"><img height="75" alt="徜徉山水之间- 壮美洛基山脉，6月banff, jasper10日游新鲜出炉" src="http://pic.qyer.com/album/user/424/38/RUtRQRIHZQ/index/200x133"></a><a href="http://bbs.qyer.com/thread-817143-1.html" data-bn-ipg="board-threadlist-pic-21"><img height="75" alt="徜徉山水之间- 壮美洛基山脉，6月banff, jasper10日游新鲜出炉" src="http://pic.qyer.com/album/user/424/58/RUtRRxIOaQ/index/200x133"></a><a href="http://bbs.qyer.com/thread-817143-1.html" data-bn-ipg="board-threadlist-pic-21"><img height="75" alt="徜徉山水之间- 壮美洛基山脉，6月banff, jasper10日游新鲜出炉" src="http://pic.qyer.com/album/user/424/60/RUtRRBoCYQ/index/200x133"></a></p>
  </div>

</li>

<li class="item">
  <h3 class="titles fontYaHei">

    <a href="thread-815930-1.html" class="tit" title="想去bosdon or chicago转一转，7月7号到16号之间时间任意几天 求同游" data-bn-ipg="board-threadlist-title-22">想去bosdon or chicago转一转，7月7号到16号之间时间任意几天 求同游</a>

  </h3>

  <div class="infos">
    <p class="info"><span class="views">48</span><span class="sum">7</span><span class="gap">|</span><span class="time">最后回复：2013-07-08</span></p>
    <p><a href="forum-54-8-1.html" class="tag" data-bn-ipg="board-threadlist-type-8">结伴同游</a><span class="reply"><a href="http://user.qyer.com/user_uid_2434981" data-bn-ipg="board-threadlist-user-22">travelbuddyto</a>&nbsp;&nbsp;|&nbsp;&nbsp;2013-7-3</span></p>
    <p class="pics"></p>
  </div>

</li>

<li class="item">
  <h3 class="titles fontYaHei">

    <a href="thread-817557-1.html" class="tit" title="谁知道加拿大签证网申的催签邮箱" data-bn-ipg="board-threadlist-title-23">谁知道加拿大签证网申的催签邮箱</a>

  </h3>

  <div class="infos">
    <p class="info"><span class="views">37</span><span class="sum">1</span><span class="gap">|</span><span class="time">最后回复：2013-07-08</span></p>
    <p><a href="forum-54-9-1.html" class="tag" data-bn-ipg="board-threadlist-type-9">其他</a><span class="reply"><a href="http://user.qyer.com/user_uid_1275466" data-bn-ipg="board-threadlist-user-23">hifelife</a>&nbsp;&nbsp;|&nbsp;&nbsp;2013-7-8</span></p>
    <p class="pics"></p>
  </div>

</li>

<li class="item">
  <h3 class="titles fontYaHei">

    <a href="thread-816421-1.html" class="tit" title="加西全家旅游回来，有问题可咨询。" data-bn-ipg="board-threadlist-title-24">加西全家旅游回来，有问题可咨询。</a>

  </h3>

  <div class="infos">
    <p class="info"><span class="views">189</span><span class="sum">13</span><span class="gap">|</span><span class="time">最后回复：2013-07-08</span></p>
    <p><a href="forum-54-9-1.html" class="tag" data-bn-ipg="board-threadlist-type-9">其他</a><span class="reply"><a href="http://user.qyer.com/user_uid_2245996" data-bn-ipg="board-threadlist-user-24">mankiwzeng</a>&nbsp;&nbsp;|&nbsp;&nbsp;2013-7-5</span></p>
    <p class="pics"></p>
  </div>

</li>

<li class="item">
  <h3 class="titles fontYaHei">

    <a href="thread-817668-1.html" class="tit" title="9-7号温哥华，7天或8天班夫。" data-bn-ipg="board-threadlist-title-25">9-7号温哥华，7天或8天班夫。</a>

  </h3>

  <div class="infos">
    <p class="info"><span class="views">12</span><span class="sum">0</span><span class="gap">|</span><span class="time">最后回复：2013-07-08</span></p>
    <p><a href="forum-54-8-1.html" class="tag" data-bn-ipg="board-threadlist-type-8">结伴同游</a><span class="reply"><a href="http://user.qyer.com/user_uid_1232320" data-bn-ipg="board-threadlist-user-25">爱美丽猫</a>&nbsp;&nbsp;|&nbsp;&nbsp;2013-7-8</span></p>
    <p class="pics"></p>
  </div>

</li>

<li class="item">
  <h3 class="titles fontYaHei">

    <a href="thread-812929-1.html" class="tit" title="加拿大网签父母被withdrawal，单独递交后通过。" data-bn-ipg="board-threadlist-title-26">加拿大网签父母被withdrawal，单独递交后通过。</a>

  </h3>

  <div class="infos">
    <p class="info"><span class="views">385</span><span class="sum">28</span><span class="gap">|</span><span class="time">最后回复：2013-07-08</span></p>
    <p><a href="forum-54-39-1.html" class="tag" data-bn-ipg="board-threadlist-type-39">建议和提醒</a><span class="reply"><a href="http://user.qyer.com/user_uid_1265934" data-bn-ipg="board-threadlist-user-26">polor</a>&nbsp;&nbsp;|&nbsp;&nbsp;2013-6-25</span></p>
    <p class="pics"></p>
  </div>

</li>

<li class="item">
  <h3 class="titles fontYaHei">

    <a href="thread-814179-1.html" class="tit" title="罢工期间，国内加拿大使馆继续工作，签证速度正常 6/16邮寄资料" data-bn-ipg="board-threadlist-title-27">罢工期间，国内加拿大使馆继续工作，签证速度正常 6/16邮寄资料</a>

  </h3>

  <div class="infos">
    <p class="info"><span class="views">328</span><span class="sum">9</span><span class="gap">|</span><span class="time">最后回复：2013-07-08</span></p>
    <p><a href="forum-54-9-1.html" class="tag" data-bn-ipg="board-threadlist-type-9">其他</a><span class="reply"><a href="http://user.qyer.com/user_uid_2071190" data-bn-ipg="board-threadlist-user-27">Slowcatcher</a>&nbsp;&nbsp;|&nbsp;&nbsp;2013-6-28</span></p>
    <p class="pics"></p>
  </div>

</li>

<li class="item">
  <h3 class="titles fontYaHei">

    <a href="thread-817527-1.html" class="tit" title="来温哥华新一个必须体验的项目：4D电影flyover canada(飞过加拿大)" data-bn-ipg="board-threadlist-title-28">来温哥华新一个必须体验的项目：4D电影flyover canada(飞过加拿大)</a>

  </h3>

  <div class="infos">
    <p class="info"><span class="views">36</span><span class="sum">2</span><span class="gap">|</span><span class="time">最后回复：2013-07-08</span></p>
    <p><a href="forum-54-9-1.html" class="tag" data-bn-ipg="board-threadlist-type-9">其他</a><span class="reply"><a href="http://user.qyer.com/user_uid_1264642" data-bn-ipg="board-threadlist-user-28">magicpeach</a>&nbsp;&nbsp;|&nbsp;&nbsp;2013-7-8</span></p>
    <p class="pics"></p>
  </div>

</li>

<li class="item">
  <h3 class="titles fontYaHei">

    <a href="thread-800278-1.html" class="tit" title="我在加拿大Jasper National Park工作，有要来的朋友可以随便问问题哈！" data-bn-ipg="board-threadlist-title-29">我在加拿大Jasper National Park工作，有要来的朋友可以随便问问题哈！</a>

  </h3>

  <div class="infos">
    <p class="info"><span class="views">8366</span><span class="sum">382</span><span class="gap">|</span><span class="time">最后回复：2013-07-08</span></p>
    <p><a href="forum-54-39-1.html" class="tag" data-bn-ipg="board-threadlist-type-39">建议和提醒</a><span class="reply"><a href="http://user.qyer.com/user_uid_282371" data-bn-ipg="board-threadlist-user-29">夏生</a>&nbsp;&nbsp;|&nbsp;&nbsp;2013-5-18</span></p>
    <p class="pics"><a href="http://bbs.qyer.com/thread-800278-1.html" data-bn-ipg="board-threadlist-pic-29"><img height="75" alt="我在加拿大Jasper National Park工作，有要来的朋友可以随便问问题哈！" src="http://pic.qyer.com/album/user/395/58/QkBQRxIGaQ/index/200x133"></a><a href="http://bbs.qyer.com/thread-800278-1.html" data-bn-ipg="board-threadlist-pic-29"><img height="75" alt="我在加拿大Jasper National Park工作，有要来的朋友可以随便问问题哈！" src="http://pic.qyer.com/album/user/395/58/QkBQRxIGaA/index/200x133"></a><a href="http://bbs.qyer.com/thread-800278-1.html" data-bn-ipg="board-threadlist-pic-29"><img height="75" alt="我在加拿大Jasper National Park工作，有要来的朋友可以随便问问题哈！" src="http://pic.qyer.com/album/user/395/58/QkBQRxIGZw/index/200x133"></a></p>
  </div>

</li>

<li class="item">
  <h3 class="titles fontYaHei">

    <a href="thread-779059-1.html" class="tit" title="寻找吸血鬼－温哥华岛13日非攻略的碎碎念" data-bn-ipg="board-threadlist-title-30">寻找吸血鬼－温哥华岛13日非攻略的碎碎念</a>

  </h3>

  <div class="infos">
    <p class="info"><span class="views">241</span><span class="sum">5</span><span class="gap">|</span><span class="time">最后回复：2013-07-08</span></p>
    <p><a href="forum-54-5-1.html" class="tag" data-bn-ipg="board-threadlist-type-5">游记攻略</a><span class="reply"><a href="http://user.qyer.com/user_uid_1227291" data-bn-ipg="board-threadlist-user-30">colddog007</a>&nbsp;&nbsp;|&nbsp;&nbsp;2013-3-21</span></p>
    <p class="pics"></p>
  </div>

</li>
</ul>
</form>
</div>

<div class="clearfix">
  <div class="ui_page"><a href="javascript:void(0);" class="ui_page_item ui_page_item_current">1</a><a href="forum-54-2.html" data-bn-ipg="pages-3" class="ui_page_item">2</a><a href="forum-54-3.html" data-bn-ipg="pages-3" class="ui_page_item">3</a><a href="forum-54-4.html" data-bn-ipg="pages-3" class="ui_page_item">4</a><a href="forum-54-5.html" data-bn-ipg="pages-3" class="ui_page_item">5</a><a href="forum-54-6.html" data-bn-ipg="pages-3" class="ui_page_item">6</a><a href="forum-54-7.html" data-bn-ipg="pages-3" class="ui_page_item">7</a><a href="forum-54-8.html" data-bn-ipg="pages-3" class="ui_page_item">8</a><a href="forum-54-9.html" data-bn-ipg="pages-3" class="ui_page_item">9</a><a href="forum-54-10.html" data-bn-ipg="pages-3" class="ui_page_item">10</a><a href="forum-54-104.html" class="ui_page_item" data-bn-ipg="pages-4">... 104</a><a href="forum-54-2.html" class="ui_page_item ui_page_next" data-bn-ipg="pages-5">下一页</a></div></div>

</div>

<div id="ask_list_div" style="display: none;">
  <ul class="bbs_tabnav">
    <li class="first current" data-asktype="0"><a href="javascript:void(0);" data-bn-ipg="board-ask-new">最新问题</a></li>
    <li data-asktype="1"><a href="javascript:void(0);" data-bn-ipg="board-ask-hot">热门问题</a></li>
    <li data-asktype="2"><a href="javascript:void(0);" data-bn-ipg="board-ask-wait">待回答问题</a></li>
  </ul>
  <div class="bbs_listinfos">
    <p class="fr"><a href="http://ask.qyer.com/addquestion?fid=54" class="ui_buttonB fr" target="_blank" data-bn-ipg="board-asklist-ask">提 问</a></p>
    <span class="sums"></span>
  </div>
  <ul class="bbs_asklist"></ul>
  <div class="clearfix"></div>
</div>





</div>
<div class="lay_side">
  <div class="bbs_sidetool">
    <p>
      <span id="newspecial" prompt="post_newthread" onmouseover="$('newspecial').id = 'newspecialtmp';this.id = 'newspecial';showMenu({'ctrlid':this.id})"><a href="javascript:void(0);" onclick="isloginjump('post.php?action=newthread&amp;fid=54');return false;" rel="nofollow" class="btn_newbbs" data-bn-ipg="board-writepost">写新帖</a></span>
    </p>
    <p class="ask"><a href="http://ask.qyer.com/addquestion?fid=54" class="btn_newask" data-bn-ipg="board-ask" rel="nofollow">提问</a></p>
    <p><img src="http://static.qyer.com/images/bbs/two/word01.jpg" width="252" height="25" alt="向100万路上的穷游er提问"></p>
  </div>

  <div class="bbs_sldline1"></div>
  <div class="bbs_seeksolve">
    <div class="pr">
      <h3 class="bbs_sidetit fontYaHei">求解答</h3>
      <p class="titmore"><a href="http://ask.qyer.com/forumlist/54/unanswered/" title="更多加拿大待回答问题" target="_blank" data-bn-ipg="board-ask-more">更多</a></p>
    </div>
    <ul class="list">
      <li class="first">
        <p class="pic"><a href="http://user.qyer.com/user_uid_1649476" title="预言家" data-bn-ipg="board-ask-user-1"><img src="http://static.qyer.com/data/avatar/001/64/94/76_avatar_big.jpg" width="30" height="30" alt="预言家"></a></p>
        <h3 class="name"><a href="http://ask.qyer.com/question/469178.html" title="求加拿大旅游签证,代理人表样本，TMM5476E.PDF" target="_blank" data-bn-ipg="board-ask-q-1">求加拿大旅游签证,代理人表样本，TMM5476E.PDF</a></h3>
        <p class="text">求加拿大旅游签证,代理人表样本，TMM5476E.PDF</p>
        <p class="btm"><a class="ui_btn_smallB fr" href="http://ask.qyer.com/question/469178.html" target="_blank" data-bn-ipg="board-ask-a-1">回答</a><span class="time">2013-05-11</span></p>
      </li>
      <li>
        <p class="pic"><a href="http://user.qyer.com/user_uid_63220" title="橙子飞" data-bn-ipg="board-ask-user-2"><img src="http://static.qyer.com/data/avatar/000/06/32/20_avatar_big.jpg" width="30" height="30" alt="橙子飞"></a></p>
        <h3 class="name"><a href="http://ask.qyer.com/question/484965.html" title="关于安东尼岛" target="_blank" data-bn-ipg="board-ask-q-2">关于安东尼岛</a></h3>
        <p class="text">我九月份要去加西旅游，想问一下有没有去过安东尼岛的XDJM，想了解一下如何过去？谢谢</p>
        <p class="btm"><a class="ui_btn_smallB fr" href="http://ask.qyer.com/question/484965.html" target="_blank" data-bn-ipg="board-ask-a-2">回答</a><span class="time">2013-06-21</span></p>
      </li>
      <li>
        <p class="pic"><a href="http://user.qyer.com/user_uid_2210783" title="summerwind2000" data-bn-ipg="board-ask-user-3"><img src="http://static.qyer.com/data/images/noavatar_big.gif" width="30" height="30" alt="summerwind2000"></a></p>
        <h3 class="name"><a href="http://ask.qyer.com/question/489002.html" title="现在广州英签（旅游签）的速度怎样？？？？大概几天？有签过的朋友吗？" target="_blank" data-bn-ipg="board-ask-q-3">现在广州英签（旅游签）的速度怎样？？？？大概几天？有签过的朋友吗？</a></h3>
        <p class="text"></p>
        <p class="btm"><a class="ui_btn_smallB fr" href="http://ask.qyer.com/question/489002.html" target="_blank" data-bn-ipg="board-ask-a-3">回答</a><span class="time">2013-07-02</span></p>
      </li>
      <li>
        <p class="pic"><a href="http://user.qyer.com/user_uid_864402" title="bolide" data-bn-ipg="board-ask-user-4"><img src="http://static.qyer.com/data/avatar/000/86/44/02_avatar_big.jpg" width="30" height="30" alt="bolide"></a></p>
        <h3 class="name"><a href="http://ask.qyer.com/question/476023.html" title="明天打算去斯坦福大学转转，不知道有什么好玩好看的，谁介绍下？谢谢" target="_blank" data-bn-ipg="board-ask-q-4">明天打算去斯坦福大学转转，不知道有什么好玩好看的，谁介绍下？谢谢</a></h3>
        <p class="text">纯粹就是休闲游，打算上午从SanJose出发做Caltrain去，到处看看，下午就回，如果有在斯坦福念书的朋友介绍下就更好啦</p>
        <p class="btm"><a class="ui_btn_smallB fr" href="http://ask.qyer.com/question/476023.html" target="_blank" data-bn-ipg="board-ask-a-4">回答</a><span class="time">2013-05-31</span></p>
      </li>
      <li>
        <p class="pic"><a href="http://user.qyer.com/user_uid_1574344" title="牛钉" data-bn-ipg="board-ask-user-5"><img src="http://static.qyer.com/data/avatar/001/57/43/44_avatar_big.jpg" width="30" height="30" alt="牛钉"></a></p>
        <h3 class="name"><a href="http://ask.qyer.com/question/488276.html" title="华特顿湖国家公园到卡尔加里机场" target="_blank" data-bn-ipg="board-ask-q-5">华特顿湖国家公园到卡尔加里机场</a></h3>
        <p class="text">如题：请问路程有多远啊？开车要预多少时间？谢谢啊！</p>
        <p class="btm"><a class="ui_btn_smallB fr" href="http://ask.qyer.com/question/488276.html" target="_blank" data-bn-ipg="board-ask-a-5">回答</a><span class="time">2013-06-30</span></p>
      </li>
    </ul>
  </div>

  <div class="bbs_sldline1"></div>
  <div class="bbs_lianhot">
    <h3 class="bbs_sidetit fontYaHei">本季热帖</h3>
    <ol class="bbs_tiehotlist">
      <li class="item1"><p><a href="http://bbs.qyer.com/thread-767833-1.html" data-bn-ipg="board-hotseason-1" title="加国网签成功拿到N年N次全过程">加国网签成功拿到N年N次全过程</a></p></li>
      <li class="item2"><p><a href="http://bbs.qyer.com/thread-800278-1.html" data-bn-ipg="board-hotseason-2" title="我在加拿大Jasper National Park工作，有要来的朋友可以随便问问题哈！">我在加拿大Jasper National Park工作，有要来的朋友可以随便问问题...</a></p></li>
      <li class="item3"><p><a href="http://bbs.qyer.com/thread-798554-1.html" data-bn-ipg="board-hotseason-3" title="玩在温哥华(以当地人的角度，而非走马观花)">玩在温哥华(以当地人的角度，而非走马观花)</a></p></li>
      <li class="item4"><p><a href="http://bbs.qyer.com/thread-793337-1.html" data-bn-ipg="board-hotseason-4" title="2013年4月加拿大20日自由行，温哥华，班夫，渥太华，多伦多">2013年4月加拿大20日自由行，温哥华，班夫，渥太华，多伦多</a></p></li>
      <li class="item5"><p><a href="http://bbs.qyer.com/thread-802036-1.html" data-bn-ipg="board-hotseason-5" title="加拿大个人旅游签证，多次往返图文详细攻略。白本2013.5.16递签，05.23签证到手。">加拿大个人旅游签证，多次往返图文详细攻略。白本2013.5.16递签，0...</a></p></li>
    </ol>
  </div>
  <div class="bbs_sldline1"></div>
  <div class="bbs_strpast">
    <h3 class="bbs_sidetit fontYaHei">历史强帖</h3>
    <ol class="bbs_tiehotlist">
      <li class="item1"><p><a href="http://bbs.qyer.com/thread-767833-1.html" data-bn-ipg="board-hothis-1" title="加国网签成功拿到N年N次全过程">加国网签成功拿到N年N次全过程</a></p></li>
      <li class="item2"><p><a href="http://bbs.qyer.com/thread-646342-1.html" data-bn-ipg="board-hothis-2" title="最近加拿大签证怎么这么慢?">最近加拿大签证怎么这么慢?</a></p></li>
      <li class="item3"><p><a href="http://bbs.qyer.com/thread-294231-1.html" data-bn-ipg="board-hothis-3" title="当高山遇到草原,当海天融入一色时（文字：阿尔伯塔恶地和温哥华攻略；图片：温哥华）">当高山遇到草原,当海天融入一色时（文字：阿尔伯塔恶地和温哥华攻...</a></p></li>
      <li class="item4"><p><a href="http://bbs.qyer.com/thread-715416-1.html" data-bn-ipg="board-hothis-4" title="二个人的加西、加东游（2012年秋）- 【已完成】">二个人的加西、加东游（2012年秋）- 【已完成】</a></p></li>
      <li class="item5"><p><a href="http://bbs.qyer.com/thread-297902-1.html" data-bn-ipg="board-hothis-5" title="征程回望(5)：图文并茂细说加西落基山脉冰川雪峰之巍壮，湖泊森林之秀美！">征程回望(5)：图文并茂细说加西落基山脉冰川雪峰之巍壮，湖泊森林...</a></p></li>
    </ol>
  </div>

  <div class="mt30" id="ad_footerbanner3"><iframe id="a6ef0621" name="a6ef0621" src="http://ad.qyer.com/www/delivery/afr.php?zoneid=63&amp;cb=INSERT_RANDOM_NUMBER_HERE" frameborder="0" scrolling="no" width="270" height="270">&lt;a href='http://ad.qyer.com/www/delivery/ck.php?n=acf733ca&amp;amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'&gt;&lt;img src='http://ad.qyer.com/www/delivery/avw.php?zoneid=63&amp;amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;amp;n=acf733ca' border='0' alt='' /&gt;&lt;/a&gt;</iframe>
  </div>
</div>

<div class="cb"></div>
<div class="bbs_sldline2"></div>
<div class="bbs_btmlists clearfix">

  <div class="bbs_btmlist">
    <h3 class="title">穷游美洲相关版块</h3>
    <div class="lists">
      <ul class="list" style="width:200px;">

        <li><a href="http://bbs.qyer.com/forum-53-1.html" title="美国" data-bn-ipg="board-bottom-board-1">美国</a></li>


        <li><a href="http://bbs.qyer.com/forum-55-1.html" title="拉丁美洲/南极" data-bn-ipg="board-bottom-board-2">拉丁美洲/南极</a></li>


      </ul></div>
  </div>

  <div class="bbs_btmlist">
    <h3 class="title">加拿大热门旅行目的地</h3>
    <div class="lists">

      <ul class="list">

        <li><a href="http://place.qyer.com/canada/" title="加拿大旅游攻略" data-bn-ipg="board-bottom-hotplace-1">加拿大</a></li>
        <li><a href="http://place.qyer.com/toronto/" title="多伦多旅游攻略" data-bn-ipg="board-bottom-hotplace-2">多伦多</a></li>
        <li><a href="http://place.qyer.com/vancouver/" title="温哥华旅游攻略" data-bn-ipg="board-bottom-hotplace-3">温哥华</a></li>
        <li><a href="http://place.qyer.com/niagara-falls-canada/" title="尼亚加拉瀑布城旅游攻略" data-bn-ipg="board-bottom-hotplace-4">尼亚加拉瀑布城</a></li>
        <li><a href="http://place.qyer.com/montreal/" title="蒙特利尔旅游攻略" data-bn-ipg="board-bottom-hotplace-5">蒙特利尔</a></li>
        <li><a href="http://place.qyer.com/ottawa/" title="渥太华旅游攻略" data-bn-ipg="board-bottom-hotplace-6">渥太华</a></li>
        <li><a href="http://place.qyer.com/quebec-city/" title="魁北克市旅游攻略" data-bn-ipg="board-bottom-hotplace-7">魁北克市</a></li>
        <li><a href="http://place.qyer.com/banff-town/" title="班夫镇旅游攻略" data-bn-ipg="board-bottom-hotplace-8">班夫镇</a></li>
        <li><a href="http://place.qyer.com/banff-national-park/" title="班夫国家公园旅游攻略" data-bn-ipg="board-bottom-hotplace-9">班夫国家公园</a></li>
        <li><a href="http://place.qyer.com/ontario/" title="安大略旅游攻略" data-bn-ipg="board-bottom-hotplace-10">安大略</a></li>
        <li><a href="http://place.qyer.com/calgary/" title="卡尔加里旅游攻略" data-bn-ipg="board-bottom-hotplace-11">卡尔加里</a></li>
        <li><a href="http://place.qyer.com/niagara-on-the-lake/" title="尼亚加拉湖边小镇旅游攻略" data-bn-ipg="board-bottom-hotplace-12">尼亚加拉湖边小镇</a></li>
        <li><a href="http://place.qyer.com/glacier-national-park-canada/" title="加拿大冰川国家公园旅游攻略" data-bn-ipg="board-bottom-hotplace-13">加拿大冰川国家公园</a></li>
        <li><a href="http://place.qyer.com/victoria-canada/" title="维多利亚市旅游攻略" data-bn-ipg="board-bottom-hotplace-14">维多利亚市</a></li>
        <li><a href="http://place.qyer.com/kingston-canada/" title="金斯顿旅游攻略" data-bn-ipg="board-bottom-hotplace-15">金斯顿</a></li>
      </ul>

      <ul class="list">

        <li><a href="http://place.qyer.com/edmonton/" title="埃德蒙顿旅游攻略" data-bn-ipg="board-bottom-hotplace-16">埃德蒙顿</a></li>
        <li><a href="http://place.qyer.com/whistler/" title="惠斯勒旅游攻略" data-bn-ipg="board-bottom-hotplace-17">惠斯勒</a></li>
        <li><a href="http://place.qyer.com/halifax/" title="哈利法克斯旅游攻略" data-bn-ipg="board-bottom-hotplace-18">哈利法克斯</a></li>
        <li><a href="http://place.qyer.com/yoho-national-park/" title="幽鹤国家公园旅游攻略" data-bn-ipg="board-bottom-hotplace-19">幽鹤国家公园</a></li>
        <li><a href="http://place.qyer.com/windsor/" title="温莎旅游攻略" data-bn-ipg="board-bottom-hotplace-20">温莎</a></li>
        <li><a href="http://place.qyer.com/new-brunswick/" title="新不伦瑞克旅游攻略" data-bn-ipg="board-bottom-hotplace-21">新不伦瑞克</a></li>
        <li><a href="http://place.qyer.com/winnipeg/" title="温尼伯旅游攻略" data-bn-ipg="board-bottom-hotplace-22">温尼伯</a></li>
        <li><a href="http://place.qyer.com/canmore/" title="坎莫尔旅游攻略" data-bn-ipg="board-bottom-hotplace-23">坎莫尔</a></li>
        <li><a href="http://place.qyer.com/kamloops/" title="坎卢普斯旅游攻略" data-bn-ipg="board-bottom-hotplace-24">坎卢普斯</a></li>
        <li><a href="http://place.qyer.com/kelowna/" title="基洛纳旅游攻略" data-bn-ipg="board-bottom-hotplace-25">基洛纳</a></li>
        <li><a href="http://place.qyer.com/charlottetown/" title="夏洛特敦旅游攻略" data-bn-ipg="board-bottom-hotplace-26">夏洛特敦</a></li>
        <li><a href="http://place.qyer.com/moncton/" title="蒙克顿旅游攻略" data-bn-ipg="board-bottom-hotplace-27">蒙克顿</a></li>
        <li><a href="http://place.qyer.com/yukon-territory/" title="育空地区旅游攻略" data-bn-ipg="board-bottom-hotplace-28">育空地区</a></li>
        <li><a href="http://place.qyer.com/prince-george/" title="乔治王子村旅游攻略" data-bn-ipg="board-bottom-hotplace-29">乔治王子村</a></li>
        <li><a href="http://place.qyer.com/kootenay-national-park/" title="库特内国家公园旅游攻略" data-bn-ipg="board-bottom-hotplace-30">库特内国家公园</a></li>
      </ul>
    </div>
  </div>
  <div class="bbs_btmlist">
    <h3 class="title">加拿大热门旅行目的地游记</h3>
    <div class="lists">
      <ul class="list" style="width:200px;">
        <li><a href="http://place.qyer.com/canada/travel-notes/" title="加拿大游记攻略" data-bn-ipg="board-bottom-travelnotes-1">加拿大游记</a></li>
        <li><a href="http://place.qyer.com/toronto/travel-notes/" title="多伦多游记攻略" data-bn-ipg="board-bottom-travelnotes-2">多伦多游记</a></li>
        <li><a href="http://place.qyer.com/vancouver/travel-notes/" title="温哥华游记攻略" data-bn-ipg="board-bottom-travelnotes-3">温哥华游记</a></li>
        <li><a href="http://place.qyer.com/niagara-falls-canada/travel-notes/" title="尼亚加拉瀑布城游记攻略" data-bn-ipg="board-bottom-travelnotes-4">尼亚加拉瀑布城游记</a></li>
        <li><a href="http://place.qyer.com/montreal/travel-notes/" title="蒙特利尔游记攻略" data-bn-ipg="board-bottom-travelnotes-5">蒙特利尔游记</a></li>
        <li><a href="http://place.qyer.com/ottawa/travel-notes/" title="渥太华游记攻略" data-bn-ipg="board-bottom-travelnotes-6">渥太华游记</a></li>
        <li><a href="http://place.qyer.com/quebec-city/travel-notes/" title="魁北克市游记攻略" data-bn-ipg="board-bottom-travelnotes-7">魁北克市游记</a></li>
        <li><a href="http://place.qyer.com/banff-town/travel-notes/" title="班夫镇游记攻略" data-bn-ipg="board-bottom-travelnotes-8">班夫镇游记</a></li>
        <li><a href="http://place.qyer.com/banff-national-park/travel-notes/" title="班夫国家公园游记攻略" data-bn-ipg="board-bottom-travelnotes-9">班夫国家公园游记</a></li>
        <li><a href="http://place.qyer.com/ontario/travel-notes/" title="安大略游记攻略" data-bn-ipg="board-bottom-travelnotes-10">安大略游记</a></li>
        <li><a href="http://place.qyer.com/calgary/travel-notes/" title="卡尔加里游记攻略" data-bn-ipg="board-bottom-travelnotes-11">卡尔加里游记</a></li>
        <li><a href="http://place.qyer.com/niagara-on-the-lake/travel-notes/" title="尼亚加拉湖边小镇游记攻略" data-bn-ipg="board-bottom-travelnotes-12">尼亚加拉湖边小镇游记</a></li>
        <li><a href="http://place.qyer.com/glacier-national-park-canada/travel-notes/" title="加拿大冰川国家公园游记攻略" data-bn-ipg="board-bottom-travelnotes-13">加拿大冰川国家公园游记</a></li>
        <li><a href="http://place.qyer.com/victoria-canada/travel-notes/" title="维多利亚市游记攻略" data-bn-ipg="board-bottom-travelnotes-14">维多利亚市游记</a></li>
        <li><a href="http://place.qyer.com/kingston-canada/travel-notes/" title="金斯顿游记攻略" data-bn-ipg="board-bottom-travelnotes-15">金斯顿游记</a></li>
      </ul>
      <ul class="list" style="width:200px;">
        <li><a href="http://place.qyer.com/edmonton/travel-notes/" title="埃德蒙顿游记攻略" data-bn-ipg="board-bottom-travelnotes-16">埃德蒙顿游记</a></li>
        <li><a href="http://place.qyer.com/whistler/travel-notes/" title="惠斯勒游记攻略" data-bn-ipg="board-bottom-travelnotes-17">惠斯勒游记</a></li>
        <li><a href="http://place.qyer.com/halifax/travel-notes/" title="哈利法克斯游记攻略" data-bn-ipg="board-bottom-travelnotes-18">哈利法克斯游记</a></li>
        <li><a href="http://place.qyer.com/yoho-national-park/travel-notes/" title="幽鹤国家公园游记攻略" data-bn-ipg="board-bottom-travelnotes-19">幽鹤国家公园游记</a></li>
        <li><a href="http://place.qyer.com/windsor/travel-notes/" title="温莎游记攻略" data-bn-ipg="board-bottom-travelnotes-20">温莎游记</a></li>
        <li><a href="http://place.qyer.com/new-brunswick/travel-notes/" title="新不伦瑞克游记攻略" data-bn-ipg="board-bottom-travelnotes-21">新不伦瑞克游记</a></li>
        <li><a href="http://place.qyer.com/winnipeg/travel-notes/" title="温尼伯游记攻略" data-bn-ipg="board-bottom-travelnotes-22">温尼伯游记</a></li>
        <li><a href="http://place.qyer.com/canmore/travel-notes/" title="坎莫尔游记攻略" data-bn-ipg="board-bottom-travelnotes-23">坎莫尔游记</a></li>
        <li><a href="http://place.qyer.com/kamloops/travel-notes/" title="坎卢普斯游记攻略" data-bn-ipg="board-bottom-travelnotes-24">坎卢普斯游记</a></li>
        <li><a href="http://place.qyer.com/kelowna/travel-notes/" title="基洛纳游记攻略" data-bn-ipg="board-bottom-travelnotes-25">基洛纳游记</a></li>
        <li><a href="http://place.qyer.com/charlottetown/travel-notes/" title="夏洛特敦游记攻略" data-bn-ipg="board-bottom-travelnotes-26">夏洛特敦游记</a></li>
        <li><a href="http://place.qyer.com/moncton/travel-notes/" title="蒙克顿游记攻略" data-bn-ipg="board-bottom-travelnotes-27">蒙克顿游记</a></li>
        <li><a href="http://place.qyer.com/yukon-territory/travel-notes/" title="育空地区游记攻略" data-bn-ipg="board-bottom-travelnotes-28">育空地区游记</a></li>
        <li><a href="http://place.qyer.com/prince-george/travel-notes/" title="乔治王子村游记攻略" data-bn-ipg="board-bottom-travelnotes-29">乔治王子村游记</a></li>
        <li><a href="http://place.qyer.com/kootenay-national-park/travel-notes/" title="库特内国家公园游记攻略" data-bn-ipg="board-bottom-travelnotes-30">库特内国家公园游记</a></li>
      </ul>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">
    popup.ajax('<%= select_forums_forums_path %>',550)
</script>