<style type="text/css">
    .bbspup_box { padding:20px;}
    .bbspup_box .forumnav { float:left; width:138px;}
    .bbspup_box .forumnav li { padding:5px 0; border:1px solid #fff; font-size:14px; line-height:24px; font-weight:700;}
    .bbspup_box .forumnav a { display:block; width:120px; height:24px; padding-left:10px; border-radius:5px; background:url(http://static.qyer.com/images/bbs/two/arrow_r.png) no-repeat 115px center; color:#636363;}
    .bbspup_box .forumnav a:hover { background-color:#e6f5e5; text-decoration:none;}
    .bbspup_box .forumnav .current { position:relative; left:1px; border-color:#ccc; border-right-color:#fff;}
    .bbspup_box .forumnav .current a:hover { background-color:#fff; cursor:default;}
    .bbspup_box .subcnt { float:left; width:330px; min-height:300px; border:1px solid #ccc;}
    .bbspup_box .subcnt .list { padding:5px 10px;}
    .bbspup_box .subcnt li { font-size:14px; line-height:24px;}
    .bbspup_box .subcnt a { display:block; padding-left:10px; color:#636363;}
    .bbspup_box .subcnt a:hover { background-color:#e6f5e5; text-decoration:none;}
    .bbspup_box .subcnt .current { background-color:#e6f5e5; text-decoration:none;}
    .bbspup_boxbtm { padding:0 20px 20px;}
</style>

<div class="ui_pupBox_head">选择要发布的论坛版块</div>
<div class="bbspup_box clearfix">
  <ul class="forumnav">
    <li class="current"><a href="javascript:void(0);" data-fid="78">穷游天下</a></li>
    <li class=""><a href="javascript:void(0);" data-fid="65">穷游欧洲</a></li>
    <li class=""><a href="javascript:void(0);" data-fid="71">穷游亚洲</a></li>
    <li class=""><a href="javascript:void(0);" data-fid="72">穷游美洲</a></li>
    <li class=""><a href="javascript:void(0);" data-fid="70">穷游大洋洲</a></li>
    <li class=""><a href="javascript:void(0);" data-fid="69">穷游非洲</a></li>
    <li class=""><a href="javascript:void(0);" data-fid="67">兴趣小组</a></li>
    <li class=""><a href="javascript:void(0);" data-fid="66">后院</a></li>
  </ul>
  <div class="subcnt">
    <ul class="list" id="forumlist_78" style="display: block;">
      <li class=""><a href="javascript:void(0);" data-fid="3">签证</a></li>
      <li><a href="javascript:void(0);" data-fid="81">申根签证</a></li>
      <li><a href="javascript:void(0);" data-fid="62">廉价航空</a></li>
      <li><a href="javascript:void(0);" data-fid="90">亚洲廉航</a></li>
      <li class="current"><a href="javascript:void(0);" data-fid="100">境外银联</a></li>
    </ul>
    <ul class="list" id="forumlist_65" style="display: none;">
      <li class="current"><a href="javascript:void(0);" data-fid="109">欧洲交通</a></li>
      <li><a href="javascript:void(0);" data-fid="112">欧洲多国</a></li>
      <li><a href="javascript:void(0);" data-fid="12">德国</a></li>
      <li><a href="javascript:void(0);" data-fid="14">法国/摩纳哥</a></li>
      <li><a href="javascript:void(0);" data-fid="13">意大利/梵蒂冈/圣马力诺</a></li>
      <li><a href="javascript:void(0);" data-fid="17">荷兰/比利时/卢森堡</a></li>
      <li><a href="javascript:void(0);" data-fid="18">西班牙/葡萄牙/安道尔</a></li>
      <li><a href="javascript:void(0);" data-fid="19">奥地利</a></li>
      <li><a href="javascript:void(0);" data-fid="16">英国/爱尔兰</a></li>
      <li><a href="javascript:void(0);" data-fid="15">瑞士/列支敦士登</a></li>
      <li><a href="javascript:void(0);" data-fid="26">希腊/土耳其/塞浦路斯/马耳他</a></li>
      <li><a href="javascript:void(0);" data-fid="25">挪威/瑞典/芬兰/丹麦/冰岛</a></li>
      <li><a href="javascript:void(0);" data-fid="24">东欧各国</a></li>
    </ul>
    <ul class="list" id="forumlist_71" style="display: none;">
      <li class=""><a href="javascript:void(0);" data-fid="58">亚洲多国</a></li>
      <li><a href="javascript:void(0);" data-fid="57">日本/韩国/朝鲜</a></li>
      <li><a href="javascript:void(0);" data-fid="106">泰国</a></li>
      <li><a href="javascript:void(0);" data-fid="108">新加坡/马来西亚/文莱</a></li>
      <li><a href="javascript:void(0);" data-fid="107">越南/柬埔寨/老挝/缅甸</a></li>
      <li><a href="javascript:void(0);" data-fid="110">菲律宾/关岛/塞班/天宁</a></li>
      <li class="current"><a href="javascript:void(0);" data-fid="111">印度尼西亚/东帝汶</a></li>
      <li><a href="javascript:void(0);" data-fid="103">印度/巴基斯坦/孟加拉</a></li>
      <li><a href="javascript:void(0);" data-fid="102">尼泊尔/不丹</a></li>
      <li><a href="javascript:void(0);" data-fid="104">斯里兰卡/马尔代夫</a></li>
      <li><a href="javascript:void(0);" data-fid="52">香港/澳门/台湾</a></li>
      <li><a href="javascript:void(0);" data-fid="105">中亚各国/蒙古</a></li>
      <li><a href="javascript:void(0);" data-fid="51">中国内地</a></li>
      <li><a href="javascript:void(0);" data-fid="59">西亚各国</a></li>
    </ul>
    <ul class="list" id="forumlist_72" style="display: none;">
      <li class="current"><a href="javascript:void(0);" data-fid="53">美国</a></li>
      <li><a href="javascript:void(0);" data-fid="54">加拿大</a></li>
      <li><a href="javascript:void(0);" data-fid="55">拉丁美洲/南极</a></li>
    </ul>
    <ul class="list" id="forumlist_70" style="display: none;">
      <li class="current"><a href="javascript:void(0);" data-fid="56">澳大利亚</a></li>
      <li><a href="javascript:void(0);" data-fid="83">新西兰/南太平洋岛国</a></li>
    </ul>
    <ul class="list" id="forumlist_69" style="display: none;">
      <li class="current"><a href="javascript:void(0);" data-fid="86">北非</a></li>
      <li><a href="javascript:void(0);" data-fid="60">非洲其他国家</a></li>
    </ul>
    <ul class="list" id="forumlist_67" style="display: none;">
      <li class="current"><a href="javascript:void(0);" data-fid="94">邮轮</a></li>
      <li><a href="javascript:void(0);" data-fid="2">结伴同游</a></li>
      <li><a href="javascript:void(0);" data-fid="99">穷游活动</a></li>
      <li><a href="javascript:void(0);" data-fid="116">去野行者计划</a></li>
      <li><a href="javascript:void(0);" data-fid="117">轻年计划 - 玩去</a></li>
      <li><a href="javascript:void(0);" data-fid="80">聪明购物</a></li>
      <li><a href="javascript:void(0);" data-fid="49">明信片</a></li>
      <li><a href="javascript:void(0);" data-fid="40">户外运动</a></li>
      <li><a href="javascript:void(0);" data-fid="88">潜水俱乐部</a></li>
      <li><a href="javascript:void(0);" data-fid="22">旅行摄影</a></li>
      <li><a href="javascript:void(0);" data-fid="33">自驾</a></li>
      <li><a href="javascript:void(0);" data-fid="87">穷游er</a></li>
      <li><a href="javascript:void(0);" data-fid="41">穷游MM</a></li>
    </ul>
    <ul class="list" id="forumlist_66" style="display: none;">
      <li class="current"><a href="javascript:void(0);" data-fid="20">海阔天空</a></li>
      <li><a href="javascript:void(0);" data-fid="10">聚义堂</a></li>
    </ul>
  </div>
</div>
<div class="bbspup_boxbtm clearfix"><a href="javascript:void(0);" data-fid="53" class="ui_buttonB fr" data-ipg="newpost-confirm">确 定</a></div>