<div>
  Hi~<br>
  <br>
  感谢注册骑趣网，准备好开始享受新的旅程吧！<br>
  点击下方链接并补全用户名及密码：<br>
  <a href="http://localhost:3000/register?act=verifyregister&code=YkpXRXY4CgVUXQUKdVR0QzVoUV4hN1VSBWFMVEFwdw0">http://localhost:3000/register?act=verifyregister&code=YkpXRXY4CgVUXQUKdVR0QzVoUV4hN1VSBWFMVEFwdw0</a>
  <br><br>验证邮箱可保护账户安全并在忘记密码的时候帮助你找回密码。<br>
  <br>
  骑趣网 <a href="http://www.gobkier.cn">www.gobkier.cn</a>
</div>