<div id="cmt_loading"></div>
<div id="cms_list">
  <div id="ajax_list">

  </div>
</div>

<table style="border:1px solid #eee;width:100%">
  <tr>
    <td style="vertical-align:top;width:100px;background:#f9f9f9;padding:0 10px;border-right:1px solid #eee">
      <div class="infos" style="color:#999;font-size:12px;border-bottom:1px dashed #eee;padding:7px 0">
        <a href="">seeyoup</a>
      </div>
      <br>
      <img src="/avatar/up.jpeg" alt="zhaojiangang_">
    </td>
    <td style="vertical-align:top;padding:0 10px;">
      <form method="post" id="comment_form" action="<%= comments_path %>">
      <div style="line-height:1.7em;font-size:14px;padding:15px 0">
        <textarea name="topic[content]" id="content" cols="30" rows="10" style="width:800px;height:150px"></textarea>
        <%= render 'global/ueditor', :id => 'content', :options => {:initialFrameHeight => '150',:toolbars=>"[['FullScreen','Undo','Bold','ForeColor','FontSize','Italic','StrikeThrough','Link','Emotion','InsertImage','Attachment','InsertVideo','JustifyLeft','JustifyCenter','JustifyRight','ClearDoc','InsertTable','DeleteTable','Source']]"} %>
      </div>
      <div class="post-toolbar">
        <button class="btn btn-mint" type="submit" id="cmt_submit_button">发布评论</button>
      </div>
      </form>
    </td>
  </tr>
</table>