<div id="poicommentlist">


<div>
  <a name="commentmod"></a>

  <div class="pl_title">
    <h2 class="pl_title_name">尖沙咀点评</h2>
  </div>
  <!--当前用户的点评-->
  <div class="pl_yelpsift">
    <p class="rank">排序：
      <span class="current">按时间↓</span>
      <span class="gap">｜</span>
      <a href="javascript:void(0);" id="jspoicommentusefullist" alt="59047" order="1">按有用↓</a>
    </p>

    <p class="btn"><a href="#poicomment" class="ui_buttonB">我要点评</a></p></div>
</div>
<!--POI点评列表-->
<div class="pl_sldline1"></div>
<div>
<div class="pl_yelp">
  <div class="pl_yelp_main clearfix">
    <div class="pl_yelp_face ui_headPort" alt="2600942"><a href="http://user.qyer.com/user_uid_2600942"><img src="http://static.qyer.com/data/images/noavatar_small.gif" width="48" height="48" alt=""></a></div>
    <div class="pl_yelp_cnt">
      <p class="grade">
        <span title="五星"><img src="http://static.qyer.com/images/place/four/poi_star.png" alt=""><img src="http://static.qyer.com/images/place/four/poi_star.png" alt=""><img src="http://static.qyer.com/images/place/four/poi_star.png" alt=""><img src="http://static.qyer.com/images/place/four/poi_star.png" alt=""><img src="http://static.qyer.com/images/place/four/poi_star.png" alt=""></span><span class="time">2013-08-07 21:52</span>
      </p>

      <p class="text"><a href="http://user.qyer.com/user_uid_2600942" class="fb">JJessicahaku</a>：每次去香港的必到之处~逛街太方便了，不管是海港城还是加连威老道，买东西都很爽</p>

      <div class="info">
        <p class="fr tool">
          <a style="display:none;" href="javascript:void(0);" class="jsjubaocomment" alt="56464" ttype="2">举报</a><a href="javascript:void(0);" id="replyNum56464" class="icon_reply">回复</a><a href="javascript:void(0);" class="icon_useful jspoicommentuseful" alt="56464">有用 0</a>
        </p>
      </div>
    </div>
  </div>
  <ul class="pl_yelp_reply">
    <li class="enter">
      <p class="face">
        <img src="http://qycenter.qyer.com/avatar.php?uid=0&amp;size=small&amp;random=1&amp;_1376034501" width="30" height="30" alt="">
      </p>

      <p><textarea placeholder="添加回复" class="ipttxt poicommentaddreply auto_text"></textarea></p>
      <input type="hidden" class="poicommentid" value="56464">

      <div class="btns">
        <input type="submit" value="发布" class="ui_btn_small_disabled fr poicommentsubmit" style="*width: 48px;*text-align:center;">

        <p class="words"></p>
      </div>
    </li>
  </ul>
</div>
<div class="pl_yelp">
  <div class="pl_yelp_main clearfix">
    <div class="pl_yelp_face ui_headPort" alt="365930"><a href="http://user.qyer.com/user_uid_365930"><img src="http://static.qyer.com/data/images/noavatar_small.gif" width="48" height="48" alt=""></a></div>
    <div class="pl_yelp_cnt">
      <p class="text"><a href="http://user.qyer.com/user_uid_365930" class="fb">ivalia</a>：要是乘坐轮船来尖沙咀还是很方便的，一下船就能逛街。
        <br>但是满街的名牌店就不是那么亲民了，看看排长队的顾客和门童“阿差”也是另一种风景啦。
        <br>钻到小巷子里也还是有地道的吃食，可以亲身感受一下**悬殊</p>

      <div class="info">
        <p class="fr tool">
          <a style="display:none;" href="javascript:void(0);" class="jsjubaocomment" alt="56426" ttype="2">举报</a><a href="javascript:void(0);" id="replyNum56426" class="icon_reply">回复</a><a href="javascript:void(0);" class="icon_useful jspoicommentuseful" alt="56426">有用 0</a>
        </p>

        <p class="grade">
          <span title="四星"><img src="http://static.qyer.com/images/place/four/poi_star.png" alt=""><img src="http://static.qyer.com/images/place/four/poi_star.png" alt=""><img src="http://static.qyer.com/images/place/four/poi_star.png" alt=""><img src="http://static.qyer.com/images/place/four/poi_star.png" alt=""><img src="http://static.qyer.com/images/place/four/poi_star_null.png" alt=""></span><span class="time">2013-08-07 18:09</span>
        </p>
      </div>
    </div>
  </div>
  <ul class="pl_yelp_reply">
    <li class="enter">
      <p class="face">
        <img src="http://qycenter.qyer.com/avatar.php?uid=0&amp;size=small&amp;random=1&amp;_1376034501" width="30" height="30" alt="">
      </p>

      <p><textarea placeholder="添加回复" class="ipttxt poicommentaddreply auto_text"></textarea></p>
      <input type="hidden" class="poicommentid" value="56426">

      <div class="btns">
        <input type="submit" value="发布" class="ui_btn_small_disabled fr poicommentsubmit" style="*width: 48px;*text-align:center;">

        <p class="words"></p>
      </div>
    </li>
  </ul>
</div>
</div>
<p class="tr mt30"><a href="http://place.qyer.com/poi/59047/review/" target="_blank" class="icon_more14">查看全部尖沙咀点评</a></p>

<a name="poicomment"></a>

<div class="mt30">
  <div class="pl_title">
    <h2 class="pl_title_name">大家来点评</h2>
  </div>

  <div class="pl_addyelp clearfix">
    <div class="pl_addyelp_face"><img src="http://qycenter.qyer.com/avatar.php?uid=&amp;size=small&amp;random=1&amp;_1376034501" width="48" height="48" alt=""></div>
    <form id="addcomment" action="/poi.php?action=addcomment" method="post">
      <input type="hidden" id="uid" name="uid" value="">
      <input type="hidden" id="poiid" name="poiid" value="59047">
      <input type="hidden" id="star" name="star" value="0">
      <input type="hidden" id="source_type" name="source_type" value="12">
      <ul class="pl_addyelp_cnt">
        <li class="clearfix">
          <style>
              .pl_ie_mr img {
                  margin-right: 0 !important;
                  padding-right: 5px;
              }
              .pl_ie_mr img:last-child {
                  padding-right: 0;
              }
          </style>

          <p class="title"><span>*</span> 评价：</p>
          <p class="grade editable pl_ie_mr">
          <div id="star_box"></div>
          </p>
        </li>
        <li class="mt10 clearfix">
          <p class="title"><span>*</span> 点评：</p>
          <p><textarea id="comment" name="comment" placeholder="一个瞬间，一个贴士，大家期待你的分享" class="ipttxt auto_text"></textarea></p>

          <div class="btns"><input id="addcommentsubmit" type="submit" value="发布" class="ui_buttonB fr" style="*width: 56px;*text-align:center;">

            <p id="checkcomment" class="words"></p></div>
        </li>
      </ul>
    </form>
  </div>
</div>
</div>

<script type="text/javascript">
    readyScript.statbox=function(){
        $.fn.raty.defaults.path = '/plugins/raty-2.5.2/lib/img';
        $('#star_box').raty({ score: 3,scoreName: 'comment[userful_num]' });
    }
</script>