<div id="cms_list">

  <ul class="cmt">

    <% for i in 1..10 do %>
        <li>
          <div class="avatar">
            <a target="_blank" href="http://weibo.com/chichiyao" title="zhaojiangang_"><img src="http://gravatar.duoshuo.com/avatar/40d6b032bb83a7915337aaf0f5fccd72?s=50" alt="zhaojiangang_"></a>
          </div>
          <div class="cmt-body">
            <div class="cmt-header"><a href="http://weibo.com/chichiyao" rel="nofollow" target="_blank" data-user-id="560858">zhaojiangang_</a>
              <span class="time" title="2013年8月6日 下午2:11:27">1小时前</span>
            </div>
            <div class="cmt-body-content">很好，很强大！</div>
            <div class="cmt-footer">
              <a class="post-reply" href="javascript:void(0);"><span class="icon icon-reply"></span>回复</a>&nbsp;&nbsp;<a class="post-likes" href="javascript:void(0);"><span class="icon icon-like"></span>顶</a>
            </div>
          </div>
        </li>
    <% end %>
    <li>
      <div class="avatar">
        <a target="_blank" href="http://weibo.com/chichiyao" title="zhaojiangang_"><img src="http://gravatar.duoshuo.com/avatar/40d6b032bb83a7915337aaf0f5fccd72?s=50" alt="zhaojiangang_"></a>
      </div>
      <div class="cmt-body">
        <form method="post">
          <input type="hidden" name="thread_id" value="1248602105967542273">
          <input type="hidden" name="parent_id" value="">

          <div class="ds-textarea-wrapper ds-rounded-top">
            <textarea name="message" title="Ctrl+Enter快捷提交" placeholder="说点什么吧…"></textarea>
            <pre class="ds-hidden-text"></pre>
          </div>
          <div class="post-toolbar">
            <button class="btn btn-mint" type="submit">发布</button>
          </div>
        </form>
      </div>
    </li>

  </ul>

</div>