<div id="cms_list">
  <ul class="cmt" id="cmt_loading">
    <li style="color: #999"><img src="/images/loading.gif" alt="载入中..." style="vertical-align:middle;"/> 载入中...</li>
  </ul>
  <ul class="cmt" id="ajax_list">
  </ul>
  <ul class="cmt" id="cmt_form">
    <li class="cmt_form">
      <div class="avatar">
        <a target="_blank" href="http://weibo.com/chichiyao" title="zhaojiangang_"><img src="/avatar/up.jpeg" alt="zhaojiangang_"></a>
      </div>
      <div class="cmt-body">
        <form method="post" id="comment_form" action="<%= comments_path %>">
          <input type="hidden" name="comment[place_id]" value="26">
          <input type="hidden" name="comment[user_id]" value="1">
          <div class="ds-textarea-wrapper ds-rounded-top">
            <textarea name="comment[content]" placeholder="" id="cmt_textarea"></textarea>
          </div>
          <div class="post-toolbar">
            <button class="btn btn-mint" type="submit" id="submit_button">发布</button>
          </div>
        </form>
      </div>
    </li>
  </ul>
</div>

<script type="text/javascript">
    readyScript.cmt=function(){
      loadComments('<%=@cmt_param %>');
      bindCmtForm();
  }
</script>