<div class="qyer_head_crumbg">
  <div class="qyer_head_crumb">
    <span class="text"><a href="/">首页</a></span>
    <span class="space">&gt;</span>
    <span class="text"><a href="/album">评论</a></span>
    <span class="space">&gt;</span>

    <h1 class="current">上传照片</h1>
  </div>
</div>
<style type="text/css">

    #cms_list{
        width: 100%
    }

    #cms_list a:link,#cms_list a:visited{
        color: #777;
        background-color: rgba(0, 0, 0, 0);
        transition: color 0.15s linear;
        -webkit-transition: color 0.15s linear;
        -moz-transition: color 0.15s linear;
    }

    #cms_list a:hover{
        color:#333;
    }

    #cms_list ul.cmt {
        list-style: none;
        margin: 0;
        padding: 0
    }

    #cms_list ul li {
        width: 100%;
        overflow: hidden;
        clear: both;
        border-top: 1px solid rgba(0, 0, 0, 0.13);
        margin: 0;
        padding:10px 0 5px 10px;
        list-style: none;
    }


    #cms_list .avatar {
        box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
        position: relative;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background-color: #FFF;
        float: left;
    }


    #cms_list .cmt-header a{
        color: #D32 !important;
    }

    #cms_list .cmt-header span.time{margin-right: 10px;color: #999}

    #cms_list .avatar img {
        display: block;
        width: 50px;
        height: 50px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22);
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

    #cms_list .cmt-body {
        padding-left: 60px;
    }

    #cms_list .cmt-body-content {
        font-size: 13px;
        line-height: 1.5em;
        margin: .5em 0;
        word-wrap: break-word;
    }

    #cms_list .cmt-footer{
        color: #999;
        line-height: 1.5em;
        text-align:right;
    }



    #cms_list a .icon {
        opacity: 0.6;
        transition: opacity 0.15s linear;
        -webkit-transition: opacity 0.15s linear;
        -moz-transition: opacity 0.15s linear;
    }

    #cms_list .icon {
        vertical-align: middle;
        display: inline-block;
        overflow: hidden;
        background: rgba(0, 0, 0, 0) url(/images/sprites.png) no-repeat;
        _background-image: url(/images/sprites.gif);
    }

    #cms_list a:hover .icon {
        opacity: 1;
    }

    #cms_list .icon-reply {
        width: 18px;
        height: 13px;
        background-position: 0 -105px;
    }

    #cms_list  textarea {
        border-radius: 3px;
        -webkit-border-radius: 3px;
        border: 1px solid #CCC;
        background: #FFF url(/images/bg_sprites.png) 0 -90px repeat-x;
        box-shadow: none;
        -webkit-appearance: none;
        overflow: auto;
        padding: 10px;
        height: 54px;
        margin: 0;
        resize: none;
        color: #999;
        width:97%;
    }

    #cms_list .post-toolbar{margin: 10px 0}
    #cms_list .post-delete,#cms_list .post-report{display:none;}
    #cms_list .icon-heart{width:14px;height:13px;background-position:0 -130px;}
    #cms_list .icon-settings{width:12px;height:12px;margin:3px 4px 0px;opacity:1;}
    #cms_list .icon-like{width:14px;height:13px;background-position:0 -117px;}
    #cms_list .icon-share{width:18px;height:13px;background-position:0 -234px;}
    #cms_list .icon-reply{width:18px;height:13px;background-position:0 -105px;}
    #cms_list .icon-delete{width:13px;height:13px;background-position:0 -176px;}
    #cms_list .icon-report{width:12px;height:12px;background-position:0 -189px;}
</style>

<%= render 'comments/list' %>
