<ul>
    <li class="active"><a href="/admin/main"><i class="icon icon-home"></i> <span>管理首页</span></a></li>
    <li class="submenu">
        <a href="#"><i class="icon icon-th-list"></i> <span>路线管理</span> <span class="label">3</span></a>
        <ul>
            <li><a href="form-common.html">所有路线</a></li>
            <li><a href="form-wizard.html">添加路线</a></li>
        </ul>
    </li>
    <li class="submenu"><a href="#"><i class="icon icon-tint"></i> <span>推荐管理</span></a>
        <ul>
            <li><a href="/admin/recommends/">所有推荐</a></li>
            <li><a href="/admin/recommends/new">添加推荐</a></li>
        </ul>
    </li>
    <li><a href="<%=admin_forums_path%>"><i class="icon icon-pencil"></i> <span>交流园地</span></a></li>
    <li><a href="tables.html"><i class="icon icon-th"></i> <span>Tables</span></a></li>
    <li><a href="grid.html"><i class="icon icon-th-list"></i> <span>Grid Layout</span></a></li>
    <li class="submenu">
        <a href="#"><i class="icon icon-file"></i> <span>Sample pages</span> <span class="label">4</span></a>
        <ul>
            <li><a href="invoice.html">Invoice</a></li>
            <li><a href="chat.html">Support chat</a></li>
            <li><a href="calendar.html">Calendar</a></li>
            <li><a href="gallery.html">Gallery</a></li>
        </ul>
    </li>
    <li>
        <a href="/admin/managers"><i class="icon icon-user"></i> <span>管理员</span></a>
        <ul>
            <li><a href="/admin/managers/new">新增</a></li>
        </ul>
    </li>
    <li>
        <a href="widgets.html"><i class="icon icon-inbox"></i> <span>Widgets</span></a>
    </li>
</ul>