<!--start-->
<div class="ui_pupBox_head">
  <ul class="ui_pupBox_headtag">
    <li id="tab_login" class="current"><span>登录</span></li>
    <li id="tab_register" class=""><span>注册</span></li>
  </ul>
</div>
<div class="ui_pupBox_tag_cnt">
  <div id="login_content" class="ui_pupBox_tag_cnt_item">
    <!--登录内容 -->
    <form method="post" action="" name="loginform" id="loginform">
      <div class="reg_main">
        <div class="clearfix"><strong class="fl f16 fontYaHei fb cGray">使用穷游帐号登录</strong><span class="fr cGray">没有帐号？<a id="tab_register_sw" href="javascript:void(0);">立即注册</a></span>
        </div>
        <div class="login_form">
          <div class="list clearfix">
            <span class="fl">帐号：</span>
            <input type="text" class="ui_input fl" name="account" id="account" maxlength="40" placeholder="邮箱或用户名">

            <p id="accounttips" class="fl"></p>
          </div>
          <div class="list clearfix">
            <span class="fl">密码：</span>
            <input type="password" class="ui_input fl" autocomplete="off" name="password" id="password">

            <p id="passwordtips" class="fl"></p>
          </div>
          <div class="list clearfix">
            <label class="fl cGray"><input type="checkbox" checked="checked" id="tagpass" name="rememberpass" class="fl">记住我</label>
            <a target="_blank" href="http://login.qyer.com/getpass.php" class="fr">忘记密码？</a>
          </div>
          <div class="list clearfix">
            <input type="button" class="ui_btn_big fontYaHei" id="loginbtn" value="登录">
          </div>
        </div>
        <div class="tc mt20">
          <img src="http://static.qyer.com/images/login/login2/huo_icon.png" width="400" height="16" alt=""></div>
        <div class="clearfix mt15"><strong class="fl f16 fontYaHei fb cGray">使用以下帐号直接登录</strong></div>
        <div class="tc mt15">
          <a href="javascript:void(0);" onfocus="this.blur();" url="" class="weibo_btn _jsweibologin">微博登录</a>
          <a href="javascript:void(0);" onfocus="this.blur();" url="" class="qq_btn _jsqqlogin">QQ登录</a>
        </div>
        <p id="synlogin"></p>
      </div>
    </form>
    <!--登录内容 -->
  </div>
  <div class="ui_pupBox_tag_cnt_item" style="display:none;" id="content_reg_email">
    <!--注册内容 -->
    <form id="reg_form">
      <div class="reg_main">
        <div class="clearfix"><strong class="fl f16 fontYaHei fb cGray">使用以下帐号直接登录</strong></div>
        <div class="tc mt15">
          <a href="javascript:void(0);" onfocus="this.blur();" class="weibo_btn _jsweibologin" url="">微博登录</a>
          <a href="javascript:void(0);" onfocus="this.blur();" class="qq_btn _jsqqlogin" url="">QQ登录</a>
        </div>
        <div class="tc mt20">
          <img src="http://static.qyer.com/images/login/login2/huo_icon.png" width="400" height="16" alt=""></div>
        <div class="clearfix mt15">
          <strong class="fl f16 fontYaHei fb cGray">注册穷游帐号</strong><span class="fr cGray">已有帐号？<a id="tab_login_sw" href="javascript:void(0);">登录</a></span>
        </div>
        <div class="clearfix mt15 reg_input">
          <div class="input_div">
            <input type="text" value="" class="ui_input fl f14" id="reg_email" autocomplete="off" name="email" maxlength="40" placeholder="输入邮箱，用于登录和找回密码">
            <span class="i_zt"></span>
            <span class="i_tips"></span>
          </div>
        </div>
        <input type="hidden" name="refer" id="reg_refer" value="">
        <input type="hidden" name="refer" id="reg_iscode" value="1">

        <div class="clearfix mt10 cGray reg_checkbox">
          <label><input type="checkbox" checked="checked" id="reg_checkbox_agree">我同意接受穷游网
            <a target="_blank" href="http://www.qyer.com/htmlpages/member.html">会员条款</a> 和
            <a target="_blank" href="http://www.qyer.com/htmlpages/exemption.html">免责声明</a></label></div>
        <div class="tc mt20"><input type="button" id="reg_submit" class="ui_btn_big fontYaHei" value="立即注册"></div>
      </div>
    </form>
    <!--注册内容 -->
    <!--email内容 -->
  </div>
</div>
<!--end-->