<select name="<%=@object?@object+'[city_id]':'city_id'%>" id="cities" onchange="get_areas(this.value,'<%=@object%>')">
  <% if @cities.blank? %>
      <option>选择县市</option>
  <% else %>
      <% @cities.each do |c| %>
          <option value="<%= c.id %>"><%= c.name %></option>
      <% end %>
  <% end %>
</select>