<div class="gui_navbox fl">
<ul class="gui_nav">
<li class="gui_nav_item">
<div class="gui_nav_item_title"><span class="sum">59</span><strong>江浙沪</strong></div>
<div class="gui_nav_item_subnav gui_nav_item_subnav_roll js" tabindex="0" style="width: 700px;">
<input type="button" value="Previous" class="carousel-control previous carousel-previous disabled" disabled="disabled">
<div class="carousel-wrap" style="overflow: hidden; position: relative; height: 320px;">
<ul class="clearfix" style="position: absolute; top: 0px; width: 1400px;">
<li style="height: 320px;">
  <dl>
    <dt>浙江省</dt>
    <dd><a href="/places/city/hangzhou/" title="吃东南亚" target="_blank" >杭州</a></dd>
    <dd><a href="/places/city/arrival-and-departure-card-asia/" title="出入境卡-亚洲" target="_blank" >出入境卡-亚洲</a></dd>
    <dd><a href="/places/city/friendship-highway/" title="拉萨到加德满都" target="_blank" >拉萨到加德满都</a></dd>
    <dt>江苏省</dt>
    <dd><a href="/places/city/dubai/" title="迪拜" target="_blank" >迪拜</a></dd>
    <dt>巴基斯坦</dt>
    <dd><a href="/places/city/islamabad/" title="伊斯兰堡" target="_blank" >伊斯兰堡</a></dd>
    <dt>不丹</dt>
    <dd><a href="/places/city/bhutan/" title="不丹" target="_blank" >不丹</a></dd>
    <dt>菲律宾</dt>
    <dd><a href="/places/city/bohol/" title="薄荷岛" target="_blank" >薄荷岛</a></dd>
  </dl>
</li>
<li style="height: 320px;">
  <dl>
    <dd><a href="/places/city/boracay/" title="长滩岛" target="_blank" >长滩岛</a></dd>
    <dt>韩国</dt>
    <dd><a href="/places/city/jeju/" title="济州岛" target="_blank" >济州岛</a></dd>
    <dd><a href="/places/city/seoul/" title="首尔" target="_blank" >首尔</a></dd>
    <dt>柬埔寨</dt>
    <dd><a href="/places/city/phnom-penh/" title="金边" target="_blank" >金边</a></dd>
    <dd><a href="/places/city/angkor-wat/" title="吴哥窟" target="_blank" >吴哥窟</a></dd>
    <dt>老挝</dt>
    <dd><a href="/places/city/luang-prabang/" title="琅勃拉邦" target="_blank" >琅勃拉邦</a></dd>
    <dd><a href="/places/city/northern-laos/" title="老挝北部" target="_blank" >老挝北部</a></dd>
  </dl>
</li>
<li style="height: 320px;">
  <dl>
    <dt>马尔代夫</dt>
    <dd><a href="/places/city/maldives/" title="马尔代夫" target="_blank" >马尔代夫</a></dd>
    <dt>马来西亚</dt>
    <dd><a href="/places/city/penang/" title="槟城" target="_blank" >槟城</a></dd>
    <dd><a href="/places/city/kuala-lumpur/" title="吉隆坡" target="_blank" >吉隆坡</a></dd>
    <dd><a href="/places/city/malacca/" title="马六甲" target="_blank" >马六甲</a></dd>
    <dd><a href="/places/city/redang/" title="热浪岛" target="_blank" >热浪岛</a></dd>
    <dd><a href="/places/city/sabah/" title="沙巴" target="_blank" >沙巴</a></dd>
    <dt>缅甸</dt>
    <dd><a href="/places/city/bagan/" title="蒲甘" target="_blank" >蒲甘</a></dd>
    <dd><a href="/places/city/yangon/" title="仰光" target="_blank" >仰光</a></dd>
  </dl>
</li>
<li style="height: 320px;">
  <dl>
    <dt>尼泊尔</dt>
    <dd><a href="/places/city/annapurna-trekking/" title="安娜普尔纳地区徒步" target="_blank" >安娜普尔纳地区徒步</a></dd>
    <dd><a href="/places/city/pokhara/" title="博卡拉" target="_blank" >博卡拉</a></dd>
    <dd><a href="/places/city/kathmandu/" title="加德满都" target="_blank" >加德满都</a></dd>
    <dd><a href="/places/city/everest-trekking/" title="尼泊尔珠峰地区徒步" target="_blank" >尼泊尔珠峰地区徒步</a></dd>
    <dt>日本</dt>
    <dd><a href="/places/city/osaka/" title="大阪" target="_blank" >大阪</a></dd>
    <dd><a href="/places/city/tokyo/" title="东京" target="_blank" >东京</a></dd>
    <dd><a href="/places/city/kyoto/" title="京都" target="_blank" >京都</a></dd>
    <dt>泰国</dt>
    <dd><a href="/places/city/bangkok/" title="曼谷" target="_blank" >曼谷</a></dd>
    <dd><a href="/places/city/phuket/" title="普吉岛" target="_blank" >普吉岛</a></dd>
  </dl>
</li>
<li style="height: 320px;">
  <dl>

    <dd><a href="/places/city/chiang-mai/" title="清迈" target="_blank" >清迈</a></dd>


    <dd><a href="/places/city/ko-samui-and-ko-tao/" title="苏梅岛与涛岛" target="_blank" >苏梅岛与涛岛</a></dd>


    <dt>新加坡</dt>
    <dd><a href="/places/city/singapore/" title="新加坡" target="_blank" >新加坡</a></dd>


    <dd><a href="/places/city/taste-of-singapore/" title="新加坡美食" target="_blank" >新加坡美食</a></dd>


    <dt>印度</dt>
    <dd><a href="/places/city/darjeeling/" title="大吉岭" target="_blank" >大吉岭</a></dd>


    <dd><a href="/places/city/delhi/" title="德里" target="_blank" >德里</a></dd>


    <dd><a href="/places/city/mumbai/" title="孟买" target="_blank" >孟买</a></dd>


    <dd><a href="/places/city/taj-mahal-agra/" title="泰姬陵-阿格拉" target="_blank" >泰姬陵-阿格拉</a></dd>


    <dd><a href="/places/city/varanasi/" title="瓦拉纳西" target="_blank" >瓦拉纳西</a></dd>


  </dl>
</li>
<li style="height: 320px;">
  <dl>

    <dd><a href="/places/city/jaipur/" title="斋普尔" target="_blank" >斋普尔</a></dd>


    <dt>印度尼西亚</dt>
    <dd><a href="/places/city/bali/" title="巴厘岛" target="_blank" >巴厘岛</a></dd>


    <dt>越南</dt>
    <dd><a href="/places/city/da-lat/" title="大叻" target="_blank" >大叻</a></dd>


    <dd><a href="/places/city/hanoi/" title="河内" target="_blank" >河内</a></dd>


    <dd><a href="/places/city/hoi-an/" title="会安" target="_blank" >会安</a></dd>


    <dd><a href="/places/city/mui-ne/" title="美奈" target="_blank" >美奈</a></dd>


    <dd><a href="/places/city/nha-trang/" title="芽庄" target="_blank" >芽庄</a></dd>


    <dd><a href="/places/city/ho-chi-minh-city/" title="胡志明市" target="_blank" >胡志明市</a></dd>


  </dl>
</li>
<li style="height: 320px;">
  <dl>
    <dt>中国</dt>
    <dd><a href="/places/city/macau/" title="澳门" target="_blank" >澳门</a></dd>


    <dd><a href="/places/city/kaohsiung/" title="高雄" target="_blank" >高雄</a></dd>


    <dd><a href="/places/city/cycling-in-taiwan/" title="骑行台湾" target="_blank" >骑行台湾</a></dd>


    <dd><a href="/places/city/taipei/" title="台北" target="_blank" >台北</a></dd>


    <dd><a href="/places/city/tainan/" title="台南" target="_blank" >台南</a></dd>


    <dd><a href="/places/city/eastern-taiwan/" title="台湾东部" target="_blank" >台湾东部</a></dd>


    <dd><a href="/places/city/offshore-islands/" title="台湾离岛" target="_blank" >台湾离岛</a></dd>


    <dd><a href="/places/city/taste-of-taiwan/" title="台湾美食" target="_blank" >台湾美食</a></dd>


    <dd><a href="/places/city/hong-kong/" title="香港" target="_blank" >香港</a></dd>


    <dd><a href="/places/city/shopping-in-hk/" title="香港购物" target="_blank" >香港购物</a></dd>


    <dd><a href="/places/city/taste-of-hong-kong/" title="香港美食" target="_blank" >香港美食</a></dd>


  </dl>
</li>
<li style="height: 320px;">
  <dl>


  </dl>
</li>
</ul>
</div>
<input type="button" value="Next" class="carousel-control next carousel-next">
</div>
</li>
<li class="gui_nav_item">
<div class="gui_nav_item_title"><span class="sum">63</span><strong>华东地区</strong></div>
<div class="gui_nav_item_subnav gui_nav_item_subnav_roll js" tabindex="0" style="width: 700px;">
<input type="button" value="Previous" class="carousel-control previous carousel-previous disabled" disabled="disabled">

<div class="carousel-wrap" style="overflow: hidden; position: relative; height: 320px;">
<ul class="clearfix" style="position: absolute; top: 0px; width: 1400px;">
<li style="height: 320px;">
  <dl>


    <dt>欧洲专题</dt>
    <dd><a href="/places/city/europe/" title="第一次去欧洲" target="_blank" data-bn-ipg="4-2">第一次去欧洲</a></dd>


    <dd><a href="/places/city/europe-railway/" title="欧洲铁路" target="_blank" data-bn-ipg="4-2">欧洲铁路</a></dd>


    <dt>爱尔兰</dt>
    <dd><a href="/places/city/dublin/" title="都柏林" target="_blank" data-bn-ipg="4-2">都柏林</a></dd>


    <dt>奥地利</dt>
    <dd><a href="/places/city/vienna/" title="维也纳" target="_blank" data-bn-ipg="4-2">维也纳</a></dd>


    <dt>比利时</dt>
    <dd><a href="/places/city/belgium/" title="比利时" target="_blank" data-bn-ipg="4-2">比利时</a></dd>


    <dt>波兰</dt>
    <dd><a href="/places/city/euro-2012-poland/" title="2012欧洲杯-波兰" target="_blank" data-bn-ipg="4-2">2012欧洲杯-波兰</a></dd>


  </dl>
</li>
<li style="height: 320px;">
  <dl>
    <dt>丹麦</dt>
    <dd><a href="/places/city/copenhagen/" title="哥本哈根" target="_blank" data-bn-ipg="4-2">哥本哈根</a></dd>


    <dt>德国</dt>
    <dd><a href="/places/city/bavarian-towns/" title="巴伐利亚小镇" target="_blank" data-bn-ipg="4-2">巴伐利亚小镇</a></dd>


    <dd><a href="/places/city/berlin/" title="柏林" target="_blank" data-bn-ipg="4-2">柏林</a></dd>


    <dd><a href="/places/city/frankfurt/" title="法兰克福" target="_blank" data-bn-ipg="4-2">法兰克福</a></dd>


    <dd><a href="/places/city/heidelberg/" title="海德堡" target="_blank" data-bn-ipg="4-2">海德堡</a></dd>


    <dd><a href="/places/city/hamburg/" title="汉堡" target="_blank" data-bn-ipg="4-2">汉堡</a></dd>


    <dd><a href="/places/city/cologne/" title="科隆" target="_blank" data-bn-ipg="4-2">科隆</a></dd>


    <dd><a href="/places/city/munich/" title="慕尼黑" target="_blank" data-bn-ipg="4-2">慕尼黑</a></dd>


    <dt>法国</dt>
    <dd><a href="/places/city/avignon-provence/" title="阿维尼翁-普罗旺斯" target="_blank" data-bn-ipg="4-2">阿维尼翁-普罗旺斯</a></dd>


  </dl>
</li>
<li style="height: 320px;">
  <dl>

    <dd><a href="/places/city/paris/" title="巴黎" target="_blank" data-bn-ipg="4-2">巴黎</a></dd>


    <dd><a href="/places/city/shopping-in-paris/" title="巴黎购物" target="_blank" data-bn-ipg="4-2">巴黎购物</a></dd>


    <dd><a href="/places/city/paris-sweet/" title="巴黎甜品" target="_blank" data-bn-ipg="4-2">巴黎甜品</a></dd>


    <dd><a href="/places/city/taste-of-france/" title="法国美食" target="_blank" data-bn-ipg="4-2">法国美食</a></dd>


    <dd><a href="/places/city/vin-de-france/" title="法国葡萄酒" target="_blank" data-bn-ipg="4-2">法国葡萄酒</a></dd>


    <dd><a href="/places/city/driving-in-france/" title="法国自驾" target="_blank" data-bn-ipg="4-2">法国自驾</a></dd>


    <dd><a href="/places/city/lyon/" title="里昂" target="_blank" data-bn-ipg="4-2">里昂</a></dd>


    <dd><a href="/places/city/loire-valley/" title="卢瓦尔河谷" target="_blank" data-bn-ipg="4-2">卢瓦尔河谷</a></dd>


    <dd><a href="/places/city/marseille/" title="马赛" target="_blank" data-bn-ipg="4-2">马赛</a></dd>


    <dd><a href="/places/city/cote-d-azur/" title="南法蔚蓝海岸" target="_blank" data-bn-ipg="4-2">南法蔚蓝海岸</a></dd>


    <dd><a href="/places/city/normandy-and-brittany/" title="诺曼底与布列塔尼" target="_blank" data-bn-ipg="4-2">诺曼底与布列塔尼</a></dd>


  </dl>
</li>
<li style="height: 320px;">
  <dl>


    <dt>荷兰</dt>
    <dd><a href="/places/city/amsterdam/" title="阿姆斯特丹" target="_blank" data-bn-ipg="4-2">阿姆斯特丹</a></dd>


    <dd><a href="/places/city/amsterdam-airport-schiphol/" title="阿姆斯特丹史基浦机场" target="_blank" data-bn-ipg="4-2">阿姆斯特丹史基浦机场</a></dd>


    <dt>捷克</dt>
    <dd><a href="/places/city/prague/" title="布拉格" target="_blank" data-bn-ipg="4-2">布拉格</a></dd>


    <dt>马耳他</dt>
    <dd><a href="/places/city/malta/" title="马耳他" target="_blank" data-bn-ipg="4-2">马耳他</a></dd>


    <dt>挪威</dt>
    <dd><a href="/places/city/oslo/" title="奥斯陆" target="_blank" data-bn-ipg="4-2">奥斯陆</a></dd>


    <dd><a href="/places/city/norwegian-fjords/" title="挪威峡湾" target="_blank" data-bn-ipg="4-2">挪威峡湾</a></dd>


  </dl>
</li>
<li style="height: 320px;">
  <dl>
    <dt>葡萄牙</dt>
    <dd><a href="/places/city/porto/" title="波尔图" target="_blank" data-bn-ipg="4-2">波尔图</a></dd>


    <dd><a href="/places/city/lisbon/" title="里斯本" target="_blank" data-bn-ipg="4-2">里斯本</a></dd>


    <dt>瑞典</dt>
    <dd><a href="/places/city/stockholm/" title="斯德哥尔摩" target="_blank" data-bn-ipg="4-2">斯德哥尔摩</a></dd>


    <dt>瑞士</dt>
    <dd><a href="/places/city/lake-leman/" title="莱芒湖" target="_blank" data-bn-ipg="4-2">莱芒湖</a></dd>


    <dd><a href="/places/city/matterhorn-valais/" title="马特洪峰-瓦莱州" target="_blank" data-bn-ipg="4-2">马特洪峰-瓦莱州</a></dd>


    <dd><a href="/places/city/zurich/" title="苏黎世" target="_blank" data-bn-ipg="4-2">苏黎世</a></dd>


    <dt>土耳其</dt>
    <dd><a href="/places/city/cappadocia/" title="卡帕多西亚" target="_blank" data-bn-ipg="4-2">卡帕多西亚</a></dd>


    <dd><a href="/places/city/istanbul/" title="伊斯坦布尔" target="_blank" data-bn-ipg="4-2">伊斯坦布尔</a></dd>


  </dl>
</li>
<li style="height: 320px;">
  <dl>


    <dt>乌克兰</dt>
    <dd><a href="/places/city/euro-2012-ukraine/" title="2012欧洲杯-乌克兰" target="_blank" data-bn-ipg="4-2">2012欧洲杯-乌克兰</a></dd>


    <dd><a href="/places/city/ukraine/" title="乌克兰" target="_blank" data-bn-ipg="4-2">乌克兰</a></dd>


    <dt>西班牙</dt>
    <dd><a href="/places/city/andalusia/" title="安达卢西亚" target="_blank" data-bn-ipg="4-2">安达卢西亚</a></dd>


    <dd><a href="/places/city/barcelona/" title="巴塞罗那" target="_blank" data-bn-ipg="4-2">巴塞罗那</a></dd>


    <dd><a href="/places/city/madrid/" title="马德里" target="_blank" data-bn-ipg="4-2">马德里</a></dd>


    <dd><a href="/places/city/seville/" title="塞维利亚" target="_blank" data-bn-ipg="4-2">塞维利亚</a></dd>


    <dt>希腊</dt>
    <dd><a href="/places/city/santorini/" title="圣托里尼岛" target="_blank" data-bn-ipg="4-2">圣托里尼岛</a></dd>


    <dd><a href="/places/city/athens/" title="雅典" target="_blank" data-bn-ipg="4-2">雅典</a></dd>


  </dl>
</li>
<li style="height: 320px;">
  <dl>


    <dt>匈牙利</dt>
    <dd><a href="/places/city/budapest/" title="布达佩斯" target="_blank" data-bn-ipg="4-2">布达佩斯</a></dd>


    <dt>意大利</dt>
    <dd><a href="/places/city/bologna/" title="博洛尼亚" target="_blank" data-bn-ipg="4-2">博洛尼亚</a></dd>


    <dd><a href="/places/city/florence/" title="佛罗伦萨" target="_blank" data-bn-ipg="4-2">佛罗伦萨</a></dd>


    <dd><a href="/places/city/rome/" title="罗马" target="_blank" data-bn-ipg="4-2">罗马</a></dd>


    <dd><a href="/places/city/milan/" title="米兰" target="_blank" data-bn-ipg="4-2">米兰</a></dd>


    <dd><a href="/places/city/tuscany/" title="托斯卡纳" target="_blank" data-bn-ipg="4-2">托斯卡纳</a></dd>


    <dd><a href="/places/city/venice/" title="威尼斯" target="_blank" data-bn-ipg="4-2">威尼斯</a></dd>


    <dd><a href="/places/city/cinque-terre/" title="五渔村" target="_blank" data-bn-ipg="4-2">五渔村</a></dd>


    <dd><a href="/places/city/outlets-in-italy/" title="意大利奥特莱斯" target="_blank" data-bn-ipg="4-2">意大利奥特莱斯</a></dd>


  </dl>
</li>
<li style="height: 320px;">
  <dl>

    <dd><a href="/places/city/italian-architecture/" title="意大利建筑" target="_blank" data-bn-ipg="4-2">意大利建筑</a></dd>


    <dd><a href="/places/city/taste-of-italy/" title="意大利美食" target="_blank" data-bn-ipg="4-2">意大利美食</a></dd>


    <dd><a href="/places/city/italy-railway/" title="意大利铁路" target="_blank" data-bn-ipg="4-2">意大利铁路</a></dd>


    <dt>英国</dt>
    <dd><a href="/places/city/london/" title="伦敦" target="_blank" data-bn-ipg="4-2">伦敦</a></dd>


    <dd><a href="/places/city/around-london/" title="伦敦周边" target="_blank" data-bn-ipg="4-2">伦敦周边</a></dd>


    <dd><a href="/places/city/lake-district/" title="英国湖区" target="_blank" data-bn-ipg="4-2">英国湖区</a></dd>


  </dl>
</li>
</ul>
</div>
<input type="button" value="Next" class="carousel-control next carousel-next">
</div>
</li>
<li class="gui_nav_item">
  <div class="gui_nav_item_title"><span class="sum">15</span><strong>北美洲</strong></div>
  <div class="gui_nav_item_subnav" style="width: 350px;">
    <ul class="clearfix">
      <li>
        <dl>


          <dt>北美洲专题</dt>
          <dd><a href="/places/city/driving-in-the-usa/" title="美国自驾" target="_blank" data-bn-ipg="4-3">美国自驾</a></dd>


          <dt>古巴</dt>
          <dd><a href="/places/city/havana/" title="哈瓦那" target="_blank" data-bn-ipg="4-3">哈瓦那</a></dd>


          <dt>加拿大</dt>
          <dd><a href="/places/city/toronto/" title="多伦多" target="_blank" data-bn-ipg="4-3">多伦多</a></dd>


          <dt>美国</dt>
          <dd><a href="/places/city/orlando/" title="奥兰多" target="_blank" data-bn-ipg="4-3">奥兰多</a></dd>


          <dd><a href="/places/city/boston/" title="波士顿" target="_blank" data-bn-ipg="4-3">波士顿</a></dd>


          <dd><a href="/places/city/yellowstone/" title="黄石国家公园" target="_blank" data-bn-ipg="4-3">黄石国家公园</a></dd>


          <dd><a href="/places/city/washington-d-c/" title="华盛顿" target="_blank" data-bn-ipg="4-3">华盛顿</a></dd>


          <dd><a href="/places/city/san-francisco/" title="旧金山" target="_blank" data-bn-ipg="4-3">旧金山</a></dd>


        </dl>
      </li>
      <li>
        <dl>

          <dd><a href="/places/city/las-vegas/" title="拉斯维加斯" target="_blank" data-bn-ipg="4-3">拉斯维加斯</a></dd>


          <dd><a href="/places/city/los-angeles/" title="洛杉矶" target="_blank" data-bn-ipg="4-3">洛杉矶</a></dd>


          <dd><a href="/places/city/miami/" title="迈阿密" target="_blank" data-bn-ipg="4-3">迈阿密</a></dd>


          <dd><a href="/places/city/south-florida/" title="南佛罗里达" target="_blank" data-bn-ipg="4-3">南佛罗里达</a></dd>


          <dd><a href="/places/city/new-york/" title="纽约" target="_blank" data-bn-ipg="4-3">纽约</a></dd>


          <dd><a href="/places/city/chicago/" title="芝加哥" target="_blank" data-bn-ipg="4-3">芝加哥</a></dd>


          <dt>墨西哥</dt>
          <dd><a href="/places/city/mexico-city/" title="墨西哥城" target="_blank" data-bn-ipg="4-3">墨西哥城</a></dd>


        </dl>
      </li>
    </ul>
  </div>
</li>
<li class="gui_nav_item">
  <div class="gui_nav_item_title"><span class="sum">3</span><strong>南美洲</strong></div>
  <div class="gui_nav_item_subnav" style="width: 175px;">
    <ul class="clearfix">
      <li>
        <dl>


          <dt>阿根廷</dt>
          <dd><a href="/places/city/buenos-aires/" title="布宜诺斯艾利斯" target="_blank" data-bn-ipg="4-4">布宜诺斯艾利斯</a></dd>


          <dt>巴西</dt>
          <dd><a href="/places/city/rio-de-janeiro/" title="里约热内卢" target="_blank" data-bn-ipg="4-4">里约热内卢</a></dd>


          <dt>秘鲁</dt>
          <dd><a href="/places/city/machu-picchu-and-cuzco/" title="马丘比丘与库斯科" target="_blank" data-bn-ipg="4-4">马丘比丘与库斯科</a></dd>


        </dl>
      </li>
    </ul>
  </div>
</li>
<li class="gui_nav_item">
  <div class="gui_nav_item_title"><span class="sum">6</span><strong>大洋洲</strong></div>
  <div class="gui_nav_item_subnav" style="width: 175px;">
    <ul class="clearfix">
      <li>
        <dl>


          <dt>澳大利亚</dt>
          <dd><a href="/places/city/gold-coast/" title="澳大利亚黄金海岸" target="_blank" data-bn-ipg="4-5">澳大利亚黄金海岸</a></dd>


          <dd><a href="/places/city/melbourne/" title="墨尔本" target="_blank" data-bn-ipg="4-5">墨尔本</a></dd>


          <dd><a href="/places/city/sydney/" title="悉尼" target="_blank" data-bn-ipg="4-5">悉尼</a></dd>


          <dt>新西兰</dt>
          <dd><a href="/places/city/queenstown/" title="皇后镇" target="_blank" data-bn-ipg="4-5">皇后镇</a></dd>


          <dd><a href="/places/city/cycling-in-nz/" title="骑行新西兰" target="_blank" data-bn-ipg="4-5">骑行新西兰</a></dd>


          <dd><a href="/places/city/driving-in-nz/" title="新西兰自驾" target="_blank" data-bn-ipg="4-5">新西兰自驾</a></dd>


        </dl>
      </li>
    </ul>
  </div>
</li>
<li class="gui_nav_item">
  <div class="gui_nav_item_title"><span class="sum">1</span><strong>非洲</strong></div>
  <div class="gui_nav_item_subnav" style="width: 175px;">
    <ul class="clearfix">
      <li>
        <dl>


          <dt>埃及</dt>
          <dd><a href="/places/city/cairo/" title="开罗" target="_blank" data-bn-ipg="4-6">开罗</a></dd>


        </dl>
      </li>
    </ul>
  </div>
</li>
<li class="gui_nav_item">
  <div class="gui_nav_item_title"><span class="sum">14</span><strong>专题锦囊</strong></div>
  <div class="gui_nav_item_subnav" style="width: 350px;">
    <ul class="clearfix">
      <li>
        <dl>


          <dt>专题</dt>
          <dd><a href="/places/city/packing-list/" title="出行装备" target="_blank" data-bn-ipg="4-7">出行装备</a></dd>


          <dd><a href="/places/city/travel-with-parents/" title="带父母旅行" target="_blank" data-bn-ipg="4-7">带父母旅行</a></dd>


          <dd><a href="/places/city/for-girls/" title="单身女孩上路" target="_blank" data-bn-ipg="4-7">单身女孩上路</a></dd>


          <dd><a href="/places/city/for-beginners/" title="第一次出境旅行" target="_blank" data-bn-ipg="4-7">第一次出境旅行</a></dd>


          <dd><a href="/places/city/unionpay-in-southeast-asia/" title="东南亚银联" target="_blank" data-bn-ipg="4-7">东南亚银联</a></dd>


          <dd><a href="/places/city/global-blue/" title="环球蓝联退税" target="_blank" data-bn-ipg="4-7">环球蓝联退税</a></dd>


          <dd><a href="/places/city/jetstar-airways/" title="捷星航空" target="_blank" data-bn-ipg="4-7">捷星航空</a></dd>


          <dd><a href="/places/city/plug-the-world/" title="旅行插座汇总" target="_blank" data-bn-ipg="4-7">旅行插座汇总</a></dd>


          <dd><a href="/places/city/travel-health/" title="旅行健康" target="_blank" data-bn-ipg="4-7">旅行健康</a></dd>


          <dd><a href="/places/city/travel-photography/" title="旅行摄影" target="_blank" data-bn-ipg="4-7">旅行摄影</a></dd>


          <dd><a href="/places/city/fly-low-cost/" title="热门廉价航空" target="_blank" data-bn-ipg="4-7">热门廉价航空</a></dd>


        </dl>
      </li>
      <li>
        <dl>

          <dd><a href="/places/city/recreational-diving/" title="休闲潜水" target="_blank" data-bn-ipg="4-7">休闲潜水</a></dd>


          <dd><a href="/places/city/frozen-zone/" title="严寒地带生存" target="_blank" data-bn-ipg="4-7">严寒地带生存</a></dd>


          <dd><a href="/places/city/cruises/" title="邮轮" target="_blank" data-bn-ipg="4-7">邮轮</a></dd>


        </dl>
      </li>
    </ul>
  </div>
</li>
<li class="gui_nav_item">
  <div class="gui_nav_item_title"><span class="sum">21</span><strong>手把手系列</strong></div>
  <div class="gui_nav_item_subnav" style="width: 525px;">
    <ul class="clearfix">
      <li>
        <dl>


          <dt>机票预订</dt>
          <dd><a href="/places/city/airtran/" title="AirTran机票预订" target="_blank" data-bn-ipg="4-8">AirTran机票预订</a></dd>


          <dd><a href="/places/city/air-berlin/" title="柏林航空机票预订" target="_blank" data-bn-ipg="4-8">柏林航空机票预订</a></dd>


          <dd><a href="/places/city/germanwings/" title="Germanwings机票预订" target="_blank" data-bn-ipg="4-8">Germanwings机票预订</a></dd>


          <dd><a href="/places/city/tiger-airways/" title="虎航机票预订" target="_blank" data-bn-ipg="4-8">虎航机票预订</a></dd>


          <dd><a href="/places/city/ryanair/" title="瑞安航空机票预订" target="_blank" data-bn-ipg="4-8">瑞安航空机票预订</a></dd>


          <dd><a href="/places/city/cebu-pacific-air/" title="宿务航空机票预订" target="_blank" data-bn-ipg="4-8">宿务航空机票预订</a></dd>


          <dd><a href="/places/city/skyscanner/" title="天巡机票预订" target="_blank" data-bn-ipg="4-8">天巡机票预订</a></dd>


          <dd><a href="/places/city/southwest-airlines/" title="美国西南航空机票预订" target="_blank" data-bn-ipg="4-8">美国西南航空机票预订</a></dd>


          <dd><a href="/places/city/easyjet/" title="EasyJet机票预订" target="_blank" data-bn-ipg="4-8">EasyJet机票预订</a></dd>


          <dt>在线投保</dt>
          <dd><a href="/places/city/allianz/" title="安联保险在线投保" target="_blank" data-bn-ipg="4-8">安联保险在线投保</a></dd>


        </dl>
      </li>
      <li>
        <dl>

          <dd><a href="/places/city/mapfre/" title="曼福保险在线投保" target="_blank" data-bn-ipg="4-8">曼福保险在线投保</a></dd>


          <dd><a href="/places/city/chartis/" title="美亚保险在线投保" target="_blank" data-bn-ipg="4-8">美亚保险在线投保</a></dd>


          <dt>住宿预订</dt>
          <dd><a href="/places/city/booking/" title="booking.com酒店预订" target="_blank" data-bn-ipg="4-8">booking.com酒店预订</a></dd>


          <dd><a href="/places/city/agoda/" title="Agoda酒店预订" target="_blank" data-bn-ipg="4-8">Agoda酒店预订</a></dd>


          <dd><a href="/places/city/accor/" title="雅高酒店预订" target="_blank" data-bn-ipg="4-8">雅高酒店预订</a></dd>


          <dt>综合预订</dt>
          <dd><a href="/places/city/contiki/" title="Contiki行程预订" target="_blank" data-bn-ipg="4-8">Contiki行程预订</a></dd>


          <dt>租车预订</dt>
          <dd><a href="/places/city/alamo/" title="Alamo租车预订" target="_blank" data-bn-ipg="4-8">Alamo租车预订</a></dd>


          <dd><a href="/places/city/avis/" title="Avis租车预订" target="_blank" data-bn-ipg="4-8">Avis租车预订</a></dd>


        </dl>
      </li>
      <li>
        <dl>

          <dd><a href="/places/city/europcar/" title="Europcar租车预订" target="_blank" data-bn-ipg="4-8">Europcar租车预订</a></dd>


          <dd><a href="/places/city/rentalcars/" title="Rentalcars租车预订" target="_blank" data-bn-ipg="4-8">Rentalcars租车预订</a></dd>


          <dd><a href="/places/city/auto-europe/" title="信诺租车预订" target="_blank" data-bn-ipg="4-8">信诺租车预订</a></dd>


        </dl>
      </li>
    </ul>
  </div>
</li>
</ul>
<div class="gui_search">
  <p><input type="text" class="ui_input" id="jn_search_input" placeholder="搜索穷游锦囊"></p>

  <div class="gui_search_lay jssearchcontainer" id="jn_search_drop"></div>
</div>
<ul class="gui_qyjnlist clearfix">
  <li><a href="/guide/" target="_blank" data-bn-ipg="6-1"><img src="http://static.qyer.com/images/guide/qyjn_iphone.png" width="48" height="60" alt="穷游锦囊iPhone版"></a></li>
  <li><a href="/guide/" target="_blank" data-bn-ipg="6-2"><img src="http://static.qyer.com/images/guide/qyjn_android.png" width="48" height="60" alt="穷游锦囊Android版"></a></li>
  <li><a href="/guidehd/" target="_blank" data-bn-ipg="6-3"><img src="http://static.qyer.com/images/guide/qyjn_ipad.png" width="48" height="60" alt="穷游锦囊HD ipad版"></a></li>
</ul>
</div>