<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%=@title %></title>
  <script type="text/javascript" src="/sea-modules/sea.js"></script>
  <script type="text/javascript" src="/sea-modules/config.js"></script>

</head>
<body>
<%= yield %>
<div class="abc" id="text">
123
</div>

</body>
</html>
